{% extends 'layout.html' %}
{% load static %}

{% block title %}
<title>Page 404 Not found</title>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row d-flex align-items-center" style="min-height: 80vh;">
        <div class="col-md-5 d-flex justify-content-center align-items-center">
            <img src="{% static 'media/undraw_location_search_re_ttoj.svg' %}" alt="page 404" class="widthlock">
        </div>
        <div class="col-md-7 animate__animated animate__bounceIn">
            <h1 class="style-text-3">Oops the page you are looking for is not available</h1>
            <p class="text-muted style-text">Did you type the url correctly?</p>
        </div>
        <a href="{% url 'shop:homepage' %}" class="btn btn-outline-primary">Homepage</a>
    </div>
</div>
{% endblock %}