{% extends 'layout.html' %}
{% load static %}

{% block title %}
<title>{{ item.product_name }} details</title>
{% endblock %}

{% block body %}
<div id="myModal" class="container-fluid animate__animated animate__slideInDown">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-6">
            <article>
                <h1 class="style-text-3">Confirm purchase?</h1>
                <p class="lead style-text">
                    You are almost there! By clicking confirm purchase, seller will be notified about your purchase.
                    Keep in mind you have just notified the seller about your interest, to complete the purchase,
                    please visit seller's place and collect your order.
                </p>
                <p class="style-text"><strong>Do not forget to show him your buyer code!</strong></p>
                <p class="style-text"><strong>Note:</strong> You can get address of the seller and buyer code from <a
                        href="{% url 'shop:myOrders' %}" class="text-primary">My orders</a>.</p>
                <form action="{% url 'shop:purchase' item.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-primary"
                        onclick="this.disabled=true; this.value='Submitting...'; this.form.submit();">Yes, go
                        ahead!</button>
                </form>
                <button class="btn btn-outline-danger mt-2" onclick="closeModal()">No, take me back</button>
            </article>
        </div>
        <div class="col-md-6 d-flex justify-content-center align-items-center my-3">
            <img class="widthlock" src="{% static 'media/undraw_access_account_re_8spm.svg' %}" alt="image">
        </div>
    </div>
</div>
<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
<div class="container animate__animated animate__fadeInUp">
    <div class="row p-4">
        <div class="col-md-4">
            <img class="widthlock" src="{% url 'shop:get_image' item.firebase_path %}" alt="{{item.product_name}}">
        </div>
        <div class="col-md-8 my-4">
            <article>
                <h1 class="style-heading">{{item.product_name}}</h1>
                <h5 class="text-muted style-text-2">Sold by abood12</h5>
                <h2 class="style-text-3 text-primary mt-4"><strong>SAR </strong>{{item.product_price}}</h2>
                <h5 class="style-text-2">Ratings: {{item.ratings}} / 5.0 <span class="text-muted"
                        style="font-size: 0.9rem;">
                        ({{item.num_raters}} people voted)</span></h5>
                <p class="style-text-2 text-muted">
                    {{item.num_orders}} Buyer(s) have purchased so far <br>
                    Available at: <strong>{{address}}</strong>
                </p>
                {% if whatsapp %}
                <a href="https://wa.me/{{whatsapp}}?text=Hello there!I would like to know if the product {{item.product_name}} is still available?" target="_blank" class="text-primary"><i class="bi bi-whatsapp"></i> Ask if the product is still available?</a><br>
                {% endif %}
                {% if user.is_authenticated and user.username != item.username and user.username not in bought_users %}
                <button class="btn btn-primary my-3" onclick="openModal()">Place order</button>
                {% if item.id in wishlist %}
                <button class="btn btn-outline-primary add-to-wishlist" data-item-id="{{ item.id }}">
                    Remove from wishlist</button>
                {% else %}
                <button class="btn btn-outline-primary add-to-wishlist" data-item-id="{{ item.id }}">
                    Add to wishlist</button>
                {% endif %}
                {% else %}
                {% endif %}
                <hr>
                <h5 class="lead"><strong>Product description:</strong></h5>
                <p class="style-text-2">{{item.product_description}}</p>
            </article>
        </div>
    </div>
    <div class="row p-3">
        <h1 class="style-heading my-3">Comments</h1>
        <hr>
        {% if user.username != item.username %}
        <form action="{% url 'shop:postComment' item.id %}" method="post" class="col-md-4 my-1">
            {% csrf_token %}
            <div class="card p-3">
                <div class="mb-2 style-text">
                    <input class="form-control mb-2" type="text" name="heading" placeholder="Heading of your comment">
                    <textarea class="form-control" name="comment" id="comment" rows="4"
                        placeholder="Write your opinion about the product..." style="resize: none;"></textarea>
                    <p class="style-text-2 text-primary"><span id="charCount">0</span> / 200</p>
                    <label class="style-text mt-3" for="rating">How much do you rate the product? (Out of 5)</label>
                    <div class="rating my-2 style-text">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input border-primary" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                                value="1">
                            <label class="form-check-label" for="inlineRadio1">1</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input border-primary" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                                value="2">
                            <label class="form-check-label" for="inlineRadio2">2</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input border-primary" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                                value="3">
                            <label class="form-check-label" for="inlineRadio3">3</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input border-primary" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                                value="4">
                            <label class="form-check-label" for="inlineRadio3">4</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input border-primary" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                                value="5">
                            <label class="form-check-label" for="inlineRadio3">5</label>
                        </div>
                    </div>
                </div>
                <p class="text-danger style-text-2">{{message}}</p>
                <button type="submit" class="btn btn-primary">Post</button>
            </div>
        </form>
        {% else %}
        <h5 class="style-text-2 text-danger col-md-4 my-1">You cannot comment on your own item.</h5>
        {% endif %}
        <div class="col-md-8">
            {% for comment in comments %}
            <div class="card my-2">
                <div class="card-body">
                    <h2 class="style-text-2">{{comment.heading}}</h2>
                    <h6 class="text-muted style-text">By: {{comment.username}}</h6>
                    <h6 class="style-text-2 my-3"><i class="bi bi-star-fill"></i> {{comment.ratings}}/5.0</h6>
                    <hr>
                    <p class="style-text-2">{{comment.comment}}</p>
                </div>
                <div class="card-footer">
                    <p class="text-muted style-text">Posted on {{comment.timestamp}}</p>
                    {% if comment.username == user.username %}
                    <form action="{% url 'shop:delete_comment' comment.id item.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                    {% endif %}
                </div>
            </div>
            {% empty %}
            <div class="card my-2">
                <div class="card-body">
                    <h2 class="style-text-2">There are no comments yet...</h2>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<script>
    var csrftoken = $("[name=csrfmiddlewaretoken]").val();
    $('.add-to-wishlist').on('click', function () {
        var button = $(this);
        var item_id = $(this).data('item-id');
        if (button.text().trim() === 'Add to wishlist') {
            $.ajax({
                url: '/addToWishlist/' + item_id,
                type: 'POST',
                dataType: 'json',
                headers: { 'X-CSRFToken': csrftoken },
                success: function (data) {
                    alert(data.message);
                    button.text('Remove from wishlist');
                },
                error: function (xhr, errmsg, err) {
                    alert('Failed to add item in your wishlist');
                }
            });
        } else if (button.text().trim() === 'Remove from wishlist') {
            $.ajax({
                url: '/removeFromWishlist/' + item_id,
                type: 'POST',
                dataType: 'json',
                headers: { 'X-CSRFToken': csrftoken },
                success: function (data) {
                    alert(data.message);
                    button.text('Add to wishlist');
                },
                error: function (xhr, errmsg, err) {
                    alert('Failed to remove item from your wishlist');
                }
            });
        }
    });
    $(document).ready(function () {
        $('#comment').on('input', function () {
            var text = $(this).val();
            if (text.length > 200) {
                $(this).val(text.substring(0, 200));
            }
            $('#charCount').text($(this).val().length);
        });
    });
</script>

{% endblock %}