{% extends 'layout.html' %}
{% load static %}

{% block title %}
<title>Checkout</title>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row d-none d-lg-flex align-items-center p-4" style="min-height: 90vh;">
        <div class="col-md-7 animate__animated animate__bounceIn">
            <h1 class="style-text-3">Please pay SAR {{price}}</h1>
            <p class="text-muted style-text">You will be redirected to paypal's secure payment gateway for the
                transaction.
            </p>
            <hr>
            <p>{{paypal.render}}</p>
        </div>
        <div class="col-md-5 d-flex justify-content-center align-items-center">
            <img class="widthlock" src="{% static 'media/undraw_credit_card_payments_re_qboh.svg' %}" alt="Wishlist">
        </div>
    </div>
    <div class="container d-flex d-lg-none justify-content-center align-items-center" style="min-height: 50vh;">
        <div class="col-12 col-md-5">
            <div class="card shadow">
                <img class="widthlock p-2" src="{% static 'media/undraw_credit_card_payments_re_qboh.svg' %}" alt="empty">
                <div class="card-body">
                    <article>
                        <h1 class="style-text-3 my-3">Please pay SAR {{price}}</h1>
                        <hr>
                        <p class="text-muted style-text">You will be redirected to paypal's secure payment gateway for the
                            transaction.
                        </p>
                        <hr>
                        <p>{{paypal.render}}</p>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}