{% extends "layout.html" %}
{% load static %}

{% block body %}
<main>
    <div class="container-fluid">
        <div class="row d-flex justify-content-center align-items-center p-2 p-md-0" style="min-height: 90vh;">
            <div class="col-md-6 slideInUp bg-dark text-light p-3 p-md-4 shadow">
                <article>
                    <h1 class="mb-4 style-heading">Please ask the buyer to give the 6 digit code to complete the purchase</h1>
                    <form action="{% url 'shop:confirmPurchase' item.id %}" method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="code" class="form-label style-text lead">Enter key:</label>
                            <input type="text" name="code" placeholder="e.g. 746728" class="form-control style-text" id="code">
                        </div>
                        {% if message %}
                            <p class="style-text text-danger">Invalid code, no such code exists.</p>
                        {% endif %}
                        <hr>
                        <button type="submit" class="btn btn-light">Submit</button>
                    </form>
                </article>
            </div>
        </div>
    </div>
</main>
{% endblock %}