{% extends 'layout.html' %}
{% load static %}

{% block title %}
<title>Welcome, Developer!</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="style-heading mt-3 text-primary">Welcome, Shahzan!</h1>
    <hr>
    <div class="row d-flex justify-content-center">
        <div class="col-md-4 border border-primary rounded p-3 mt-3 mx-1">
            <h3 class="style-heading">Website status</h3>
            <hr>
            <div class="style-text-2">
                <p>Total number of registered users: <span class="bignum">{{all_users}}</span></p>
                <p>
                    Total number of listings: <span class="bignum">{{all_listings}}</span> <br>
                    Active: <span class="bignum">{{active_listings}}</span> <br>
                    Expired: <span class="bignum">{{expired_listings}}</span>
                </p>
                <p>
                    System time: {{time}}
                </p>
            </div>
        </div>
        <div class="col-md-7 border border-primary rounded p-3 mt-3 mx-1">
            <h3 class="style-heading">Publish notice for all users</h3>
            <hr>
            <article class="mb-4">
                <form action="{% url 'shop:publish_new_notice' %}" class=" style-text-2" method="post">
                    {% csrf_token %}
                    <input class="form-control mb-2" type="text" name="title" placeholder="Title of your notice">
                    <textarea class="form-control" name="body" id="body" rows="4"
                        placeholder="Details about your notice..." style="resize: none;"></textarea>
                    <p class="style-text-2 text-primary"><span id="charCount">0</span> / 100</p>
                    <button type="submit" class="btn btn-primary">Publish notice</button>
                </form>
            </article>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#body').on('input', function () {
            var text = $(this).val();
            if (text.length > 100) {
                $(this).val(text.substring(0, 100));
            }
            $('#charCount').text($(this).val().length);
        });
    });
</script>
{% endblock %}