<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enable Notifications</title>

    <!-- Add Firebase SDK -->
    <script src="https://www.gstatic.com/firebasejs/10.8.1/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.8.1/firebase-messaging-compat.js"></script>
</head>

<body>
    <h1>Please enable notifications</h1>
    <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">

    <script type="module">
        var csrftoken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;
        function saveTokenToServer(token) {
            // Make an AJAX request to your server to save the token
            fetch('/save-fcm-token/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify({ token: token }),
            }).then(response => {
                if (response.ok) {
                    console.log('Token saved successfully on the server');
                } else {
                    console.error('Failed to save token on the server');
                }
            }).catch(error => {
                console.error('Error saving token on the server:', error);
            });
        }

        // Initialize Firebase
        const firebaseConfig = {
            apiKey: "AIzaSyBSCpcctpJNIr26-D73N9-M6Jhxe3pZnk0",
            authDomain: "kku-unofficial-store.firebaseapp.com",
            projectId: "kku-unofficial-store",
            storageBucket: "kku-unofficial-store.appspot.com",
            messagingSenderId: "920854395385",
            appId: "1:920854395385:web:2c52cbe92d41289d912528"
        };
        firebase.initializeApp(firebaseConfig);

        // Initialize Firebase Messaging
        const messaging = firebase.messaging();

        // Request permission for push notifications and get token
        messaging.getToken({ vapidKey: 'BI6I-N5Wyy7XV5XLnHSa6DmvxPqJaHgb0kU2ir4--MA_4w69A4y1o7108p-5g7DPny7edALN_z_DkkziBKa1nK0' }) // Replace 'YOUR_VAPID_KEY' with your actual VAPID key
            .then((currentToken) => {
                if (currentToken) {
                    console.log('Token:', currentToken);
                    // Send this token to your server to associate with the user
                    saveTokenToServer(currentToken);
                } else {
                    console.log('No registration token available. Request permission to generate one.');
                    // Show permission request UI
                }
            })
            .catch((error) => {
                console.log('Error getting token:', error);
            });

        // Handle incoming messages when app is in foreground
        messaging.onMessage((payload) => {
            console.log('Message received:', payload);
            // Display notification to the user
            if (Notification.permission === 'granted') {
                var notification = new Notification(payload.notification.title, {
                    body: payload.notification.body,
                    // You can add additional options here if needed
                });

                // You can add an event listener to handle user interaction with the notification
                notification.addEventListener('click', function (event) {
                    // Handle notification click event
                    console.log('Notification clicked');
                });
            }
        });

        // Handle background messages by registering a service worker
        navigator.serviceWorker.register('/firebase-messaging-sw.js')
            .then((registration) => {
                console.log('Service worker registered:', registration);
            })
            .catch((error) => {
                console.error('Service worker registration failed:', error);
            });


    </script>
</body>

</html>