{% extends 'layout.html' %}
{% load static %}
{% block title %}
<title>Forgot password</title>
{% endblock %}

{% block body %}
<main>
    <div class="container d-none d-lg-block">
        <div class="row" style="min-height: 80vh;">
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <img class="widthlock" src="{% static 'media/undraw_secure_login_pdn4.svg' %}"
                    alt="Picture">
            </div>
            <div class="col-md-6 d-flex justify-content-start align-items-center p-5">
                <article>
                    <h1 class="mb-4 style-heading">Recover forgotten password...</h1>
                    <form action="{% url 'shop:login_user' %}" method="post">
                        {% csrf_token %}
                        <div class="mb-2">
                            <label for="InputEmail1" class="form-label style-text">Enter your E-mail:</label>
                            <input type="text" name="username" placeholder="e.g. john53" class="form-control style-text" id="InputEmail1">
                        </div>
                        <div class="mb-3">
                            <label for="InputPassword1" class="form-label style-text">Password</label>
                            <input type="password" name="password" class="form-control" id="InputPassword1">
                        </div>
                        {% if message %}
                            <p class="style-text" style="color: red;">Invalid credentials, please try again.</p>
                        {% endif %}
                        <button type="submit" class="btn btn-primary">Log in</button>
                        <a href="{% url 'shop:signup_user' %}" type="submit" class="btn btn-light btn-outline-primary mx-2">Register a new account</a><br>
                        <a href="{% url 'shop:forgot_password' %}" type="submit" class="text-primary text-decoration-none my-3">Forgot password?</a>
                    </form>
                </article>
            </div>
        </div>
    </div>
    <div class="container d-block d-lg-none justify-content-center align-items-center" style="min-height: 80vh;">
        <div class="col-12">
            <div class="card shadow animate__animated animate__zoomIn">
                <img class="widthlock p-2" src="{% static 'media/undraw_secure_login_pdn4.svg' %}" alt="empty">
                <div class="card-body">
                    <article>
                        <h1 class="mb-4 style-heading">Forgot password</h1>
                        <form action="{% url 'shop:login_user' %}" method="post">
                            {% csrf_token %}
                            <div class="mb-2">
                                <label for="InputEmail1" class="form-label style-text">Username</label>
                                <input type="text" name="username" placeholder="e.g. john53" class="form-control style-text" id="InputEmail1">
                            </div>
                            <div class="mb-3">
                                <label for="InputPassword1" class="form-label style-text">Password</label>
                                <input type="password" name="password" class="form-control" id="InputPassword1">
                            </div>
                            {% if message %}
                                <p class="style-text" style="color: red;">Invalid credentials, please try again.</p>
                            {% endif %}
                            <button type="submit" class="btn btn-primary my-2">Log in</button>
                            <a href="{% url 'shop:signup_user' %}" type="submit" class="btn text-primary">Register a new account</a>
                        </form>
                    </article>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}