{% extends 'layout.html' %}
{% load static %}

{% block title %}
<title>{{request.user.first_name}}'s Shop</title>
{% endblock %}

{% block body %}
<div id="myModal" class="container-fluid animate__animated animate__slideInDown">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-6">
            <article>
                <h1 class="style-text-3">Renew the item?</h1>
                <p class="lead style-text">Renewing the item will extend the date for 1 more day.</p>
                <p class="style-text"><strong>Note:</strong> You can only renew once.</p>
                <form class="redirect_link" action="" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-primary">Yes, go ahead!</button>
                </form>
                <button class="btn btn-outline-danger mt-2" onclick="closeModal()">No, take me back</button>
            </article>
        </div>
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <img class="widthlock mt-4" src="{% static 'media/undraw_access_account_re_8spm.svg' %}" alt="image">
        </div>
    </div>
</div>
<div class="container" style="min-height: 100vh;">
    <div class="row d-block d-lg-none mb-3">
        <div class="col-12 col-md-5">
        <div class="card shadow animate__animated animate__slideInUp p-3 shadow">
            <h3 class="style-heading">Sell an item</h3>
            <hr>
            <p class="style-text-2">Do you have something to sell? Sell anything in an instant for free.</p>
            <a href="{% url 'shop:new_listing' %}" class="btn btn-primary">Create new listing</a>
        </div>
    </div>
    </div>
    {% if item %}
    <div class="row">
        <h1 class="style-text-3 mt-3">Items listed by you:</h1>
    </div>
    <hr>
    {% endif %}
    <div class="row" data-masonry='{"percentPosition": true }'>
        {% for item in items %}
        <div class="col-sm-2 col-xs-2 col-md-4 col-lg-3 g-3">
            <div class="shadow animate__animated animate__fadeInUp card my-2 d-flex align-items-center">
                {% if item.num_orders != 0 %}
                <div class="card-header style-text text-primary" style="width: 100%;">{{item.num_orders}} people have placed order</div>
                {% endif %}
                <img class="heightlock" src="{% url 'shop:get_image' item.firebase_path %}" class="card-img-top"
                    alt="{{item.product_name}}">
                <div class="card-body mt-2" style="width: 100%;">
                    <h5 class="card-title text-primary" id="itemModal{{ item.id }}"><a href="{% url 'shop:buy' item.id %}"
                        class="text-primary style-text">{{item.product_name}}</a></h5>
                    <hr>
                    <h5 class="card-title style-text">SAR {{item.product_price}}</h5>
                    {% if item.is_expired == True and item.is_renewed == False %}
                    <button class="btn btn-primary" onclick="openModalParameter('{{item.id}}')">Renew</button>
                    <a href="{% url 'shop:delete_listing' item.id %}" class="btn btn-danger delete-link">Delete</a>
                    {% elif item.is_expired  %}
                    <a href="{% url 'shop:delete_listing' item.id %}" class="btn btn-danger delete-link">Delete</a>
                    {% else %}
                    <p class="text-muted style-text">Click here to enter buyer code</p>
                    <a href="{% url 'shop:confirmPurchase' item.id %}" class="btn btn-outline-primary">Enter code </a>
                    <a href="{% url 'shop:delete_listing' item.id %}" class="btn btn-outline-danger delete-link">Delete</a>
                    {% endif %}
                </div>
                {% if item.is_expired %}
                <div class="card-footer style-text text-light bg-danger" style="width: 100%;">Item expired</div>
                {% else %}
                <div class="card-footer style-text text-light bg-primary" style="width: 100%;">Item expires on: <br>{{item.expiry}}</div>
                {% endif %}
            </div>
        </div>
        {% empty %}
        <div class="row d-none d-lg-flex align-items-center p-4" style="min-height: 90vh;">
            <div class="col-md-7 animate__animated animate__tada">
                <h1 class="style-text-3">Your shop seems empty...</h1>
                <p class="text-muted style-text">You don't have anything for sale</p>
            </div>
            <div class="col-md-5 d-flex justify-content-center align-items-center animate__animated ">
                <img class="widthlock" src="{% static 'media/undraw_void_-3-ggu.svg' %}" alt="Void">
            </div>
        </div>
        <div class="container d-flex d-lg-none justify-content-center align-items-center" style="min-height: 50vh;">
            <div class="col-12 col-md-5">
                <div class="card shadow animate__animated animate__slideInUp">
                    <img class="widthlock p-2" src="{% static 'media/undraw_void_-3-ggu.svg' %}" alt="empty">
                    <div class="card-body">
                        <article>
                            <h1 class="style-text-3 my-3">Your shop seems empty...</h1>
                            <hr>
                            <p class="text-muted style-text">You have not put up anything for sale</p>
                            <a href="{% url 'shop:new_listing' %}" class="btn btn-outline-primary style-text-2">Sell something</a>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".delete-link").click(function (e) {
            e.preventDefault();
            var confirmation = confirm("Are you sure you want to delete this item?");
            if (confirmation) {
                window.location.href = $(this).attr("href");
            }
        });
    });
</script>

{% endblock %}