{% extends 'layout.html' %}
{% load static %}

{% block title %}
<title>Notification panel</title>
{% endblock %}

{% block body %}

<div class="container-fluid bg-light">
    <div class="row bg-light p-md-3 py-3 px-1">
        <div class="col-md-8">
            <article>
                <h1 class="display-1 style-text-3 ">Notifications</h1>
                <p class="style-text">
                    This page contains all your notifications. Although not neccessary, it is advisable to keep checking
                    this page for new updates or notifications.
                </p>
                <a href="{% url 'shop:delete_all_notifications' %}" class="btn btn-outline-danger">Delete all notifications</a>
            </article>
        </div>
        <div class="col-md-4 d-none d-md-flex justify-content-center align-items-center">
            <img src="../static/media/undraw_push_notifications_re_t84m.svg" alt="image"
                style="height: 10rem; width: auto;">
        </div>
    </div>
    <div class="row bg-dark p-md-4 p-3">
        <h1 class="display-4 style-text-3 text-light">Your notifications</h1>
    </div>
    <div class="row p-2 py-4 p-md-4">
        {% for notification in notifications %}
        <div class="col-lg-3 col-md-6 mb-3">
            <div class="shadow card">
                <div class="card-body">
                    <h2 class="style-text-3">{{notification.title}}</h2>
                    <hr>
                    <p class="style-text-2 mb-4">{{notification.body}}</p>
                    {% if notification.task == "show_shop" %}
                    <a href="{% url 'shop:my_shop' %}" class="btn btn-outline-primary mb-2"><i class="bi bi-bag mx-1"></i> My
                        Shop</a>
                    {% elif notification.task == "show_order" %}
                    <a href="{% url 'shop:myOrders' %}" class="btn btn-outline-primary mb-2"><i
                            class="bi bi-check2-circle mx-1"></i> My Orders</a>
                    {% endif %}
                    <a href="{% url 'shop:delete_notification' notification.id %}" class="btn btn-outline-danger mb-2"><i
                            class="bi bi-trash mx-1"></i> Delete notification</a>
                </div>
                <div class="card-footer text-light bg-dark style-text-2">{{notification.date}}</div>
            </div>
        </div>
        {% empty %}
        <h5 class="display-6 style-text-3 p-md-4 p-2 py-4" style="height: 70vh;">You don't have any new notifications</h5>
        {% endfor %}
    </div>
</div>

{% endblock %}