{% extends 'layout.html' %}
{% load static %}

{% block title %}
<title>Notification panel</title>
{% endblock %}

{% block body %}

<div class="container">
    <div class="row" style="min-height: 80vh;" data-masonry='{"percentPosition": true }'>
        {% for notification in notifications %}
        <div class="g-3 col-md-4">
            <div class="shadow card p-0" style="height: fit-content;">
                <div class="card-body">
                    <h2 class="style-text">{{notification.title}}</h2>
                    <hr>
                    <p class="style-text-2 mb-4">{{notification.body}}</p>
                    {% if notification.task == "show_shop" %}
                    <a href="{% url 'shop:my_shop' %}" class="btn btn-outline-primary"><i class="bi bi-bag mx-1"></i> My
                        Shop</a>
                    {% elif notification.task == "show_order" %}
                    <a href="{% url 'shop:myOrders' %}" class="btn btn-outline-primary"><i
                            class="bi bi-check2-circle mx-1"></i> My Orders</a>
                    {% endif %}
                    <a href="{% url 'shop:delete_notification' notification.id %}" class="btn btn-outline-danger"><i
                            class="bi bi-trash mx-1"></i> Delete notification</a>
                </div>
                <div class="card-footer text-muted">{{notification.date}}</div>
            </div>
        </div>
        {% empty %}
        <div class="row d-none d-lg-flex align-items-center p-4" style="min-height: 70vh;">
            <div class="col-md-7 animate__animated animate__jackInTheBox">
                <h1 class="style-text-3">You don't have any notifications</h1>
                <p class="text-muted style-text">Your notifications will appear here</p>
            </div>
            <div class="col-md-5 d-flex justify-content-center align-items-center">
                <img class="widthlock" src="{% static 'media/undraw_notify_re_65on.svg' %}" alt="Wishlist">
            </div>
        </div>
        <div class="container d-flex d-lg-none justify-content-center align-items-center" style="min-height: 50vh;">
            <div class="col-12 col-md-5">
                <div class="card shadow slideInUp">
                    <img class="widthlock p-2" src="{% static 'media/undraw_notify_re_65on.svg' %}" alt="empty">
                    <div class="card-body">
                        <article>
                            <h1 class="style-text-3 my-3">You don't have any notifications...</h1>
                            <hr>
                            <p class="text-muted style-text">Your notifications will appear here</p>
                            <a href="{% url 'shop:index' %}" class="btn btn-outline-primary style-text-2">Home</a>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}