{% extends 'layout.html' %}
{% load static %}

{% block title %}
<title>Enable notifications</title>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row p-2 py-4 p-md-4 d-flex justify-content-center align-items-center" style="min-height: 90vh;">
        <div class="col-md-7 animate__animated animate__bounceIn">
            <h1 class="style-text-3 display-4">Please enable notifications on next page...</h1>
            <hr>
            <p class="lead style-text">Enable push notification so you stay updated about your orders and sales.
            </p>
            <a href="{% url 'shop:enableNotifications' %}" class="btn btn-dark style-text-2">Proceed</a>
            <a href="{% url 'shop:index' %}" class="btn btn-danger style-text-2">Later</a>
        </div>
        <div class="col-md-5 d-flex justify-content-center align-items-center">
            <img class="widthlock" src="../static/media/undraw_push_notifications_re_t84m.svg" alt="image">
        </div>
    </div>
</div>
{% endblock %}