{% extends 'layout.html' %}
{% load static %}

{% block title %}
<title>My Profile</title>
{% endblock %}

{% block body %}

<div class="container-fluid bg-light">
    <div class="row bg-light p-md-3 px-1">
        <div class="col-md-8">
            <article>
                <h1 class="display-1 style-text-3 ">My account</h1>
                <p class="style-text">
                    Do you want to change your password? Or maybe do you want to update your Email address? 
                    Everything related to your account, from modification to deletion, can be done on this page.
                </p>
            </article>
        </div>
        <div class="col-md-4 d-none d-md-flex justify-content-center align-items-center">
            <img src="../static/media/undraw_set_preferences_kwia.svg" alt="image" style="height: 10rem; width: auto;">
        </div>
    </div>
    <div class="row px-2">
        <div class="d-none d-lg-block col-3 p-3 bg-dark text-light shadow" style="height: fit-content;">
            <h3 class="style-heading">My profile</h3>
            <hr>
            <ul class="list-unstyled px-3">
                <li class="my-1"><a href="{% url 'shop:profile' %}" class="text-light style-text-2"
                        style="text-decoration: none;">My
                        information</a></li>
                {% if user.is_staff and user.is_superuser and user.username == "shahzan" %}
                <li class="my-1"><a href="{% url 'shop:developer' %}" class="text-light style-text-2"
                        style="text-decoration: none;">Developer dashboard</a></li>
                {% endif %}
                <li class="my-1">Version: {{version}}</li>
            </ul>
            <hr>
            <p class="text-light style-text">
                Sorry if you encounter any bugs, the developer is always listening to your problems at kkuunofficialstore@gmail.com
            </p>
        </div>
        <div class="col-md-9">
            <article class="mb-4 bg-dark text-light p-3 shadow">
                <h3 class="style-heading">Enable notification on this device</h3>
                <hr>
                <div class="style-text" style="min-height: 5vh;">
                    <a href="{% url 'shop:preEnableNotifications' %}" class="btn btn-light">Enable</a>
                    <p class="text-light mt-2">If you are not receiving notifications on this device or have not enabled
                        notifications for this device, please click here to enable it.</p>
                </div>
            </article>
            <article class="mb-4 bg-dark text-light p-3 shadow">
                <h3 class="style-heading">Update address</h3>
                <hr>
                <form action="{% url 'shop:update_address' %}" class=" style-text-2" method="post">
                    {% csrf_token %}
                    <div class="mb-3 row">
                        <div class="col-md-6">
                            <input type="text" class="form-control" name="room_no" id="address"
                                placeholder="Room number: {{other.room_no}}" aria-describedby="address_help">
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <select class="form-control" id="building_code" name="building_code">
                                    <option value="{{other.building_code}}">Current building: {{other.building_code}}</option>
                                    <option value="BR1">BR1</option>
                                    <option value="BR2">BR2</option>
                                    <option value="BR3">BR3</option>
                                    <option value="BR4">BR4</option>
                                    <option value="BR5">BR5</option>
                                    <option value="BR6">BR6</option>
                                    <option value="BR7">BR7</option>
                                    <option value="BR8">BR8</option>
                                    <option value="BR9">BR9</option>
                                    <option value="BR10">BR10</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    {% if address_error %}
                    <p class="text-danger">{{address_error}}</p>
                    {% endif %}
                    <button type="submit" class="btn btn-light">Update address</button>
                </form>
            </article>
            <article class="mb-4 bg-dark text-light p-3 shadow">
                <h3 class="style-heading">General information</h3>
                <hr>
                <form class="style-text-2" action="{% url 'shop:update_info' %}" method="post">
                    {% csrf_token %}
                    <div class="mb-3 row">
                        <div class="col-md-6">
                            <label for="first_name" class="form-label">First name</label>
                            <input type="text" class="form-control" id="first_name" name="first_name"
                                placeholder="{{user.first_name}}">
                        </div>
                        <div class="col-md-6">
                            <label for="last_name" class="form-label">Last name</label>
                            <input type="text" class="form-control" id="last_name" name="last_name"
                                placeholder="{{user.last_name}}">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="whatsapp" class="form-label">Whatsapp no.</label>
                        <input type="text" class="form-control" name="whatsapp" id="whatsapp"
                            placeholder="{{other.whatsapp}}">
                    </div>
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" disabled placeholder="{{user.username}}">
                    </div>
                    <div class="mb-4">
                        <label for="email" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="{{user.email}}"
                            oninput="delayFunction()">
                        <div id="checkEmailAvailability" class="form-text"></div>
                    </div>
                    <button type="submit" class="btn btn-light updateInfo">Update information</button>
                </form>
            </article>
            <article class="mb-4 bg-dark text-light p-3 shadow">
                <h3 class="style-heading">Update password</h3>
                <hr>
                <form action="{% url 'shop:update_password' %}" class="style-text-2" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="password1" class="form-label">Old password</label>
                        <input type="password" class="form-control" id="password1" name="old_password">
                    </div>
                    <div class="mb-3 row">
                        <div class="col-md-6">
                            <label for="password2" class="form-label">New password</label>
                            <input type="password" class="form-control" id="password2" name="new_password1">
                        </div>
                        <div class="col-md-6">
                            <label for="password3" class="form-label">Re-enter new password</label>
                            <input type="password" class="form-control" id="password3" name="new_password2">
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="btn btn-outline-light password_toggler" onclick="togglePasswordVisibility()">Show
                            passwords</div>
                    </div>
                    <hr>
                    {% if password_error %}
                    <p class="text-danger">{{password_error}}</p>
                    {% endif %}
                    <button type="submit" class="btn btn-light">Update password</button>
                </form>
            </article>
            <article class="mb-4 bg-dark text-light p-3 shadow">
                <h3 class="style-heading">Help this website remain free forever</h3>
                <hr>
                <p class="text-light style-text">Hosting a website takes a lot of resources, every donation counts even if it is just a dollar :)</p>
                <a href="https://buymeacoffee.com/kkuunofficialstore" class="btn btn-light shadow"><img style="width: 8rem;" src="../static/media/logo/bmc-full-logo-no-background.png" alt="bmc"></a>
            </article>
            <hr>
            <article class="d-flex justify-content-center align-items-center mt-4 p-4">
                <div class="style-text" style="text-align: center;">
                    <a href="{% url 'shop:delete_account' %}" class="btn btn-danger mb-2 delete-link">Delete account</a>
                    <p class="text-muted">Please note that this process cannot be undone, once your account gets delete
                        you can not recover it.
                    </p>
                </div>
            </article>
        </div>
    </div>
</div>

<script>
    document.querySelectorAll(".delete-link").forEach(function (link) {
        link.addEventListener("click", function (e) {
            e.preventDefault();
            var confirmation = confirm("Are you sure you want to delete your account? This action cannot be undone!");
            if (confirmation) {
                window.location.href = this.getAttribute("href");
            }
        });
    });

    function togglePasswordVisibility() {
        var passwordInput1 = document.getElementById('password1');
        var passwordInput2 = document.getElementById('password2');
        var passwordInput3 = document.getElementById('password3');
        var btn = document.querySelector('.password_toggler')

        if (btn.innerHTML === "Show passwords") {
            btn.innerHTML = "Hide passwords"
        } else {
            btn.innerHTML = "Show passwords";
        }

        if (passwordInput1.type === "password") {
            passwordInput1.type = "text";
        } else {
            passwordInput1.type = "password";
        }

        if (passwordInput2.type === "password") {
            passwordInput2.type = "text";
        } else {
            passwordInput2.type = "password";
        }

        if (passwordInput3.type === "password") {
            passwordInput3.type = "text";
        } else {
            passwordInput3.type = "password";
        }
    }

    let timeoutId;
    let functionCalled = false;

    function delayFunction() {
        clearTimeout(timeoutId);
        timeoutId = setTimeout(() => {
            if (!functionCalled) {
                checkEmail();
                functionCalled = true;
            }
        }, 10);
        functionCalled = false;
    }

    function checkEmail() {
        var updateInfo = document.querySelector('.updateInfo')
        var messageBox = document.getElementById('checkEmailAvailability');
        var csrfToken = document.getElementsByName('csrfmiddlewaretoken')[0].value;
        var userInput = document.getElementById('email');
        var userInputValue = userInput.value;

        if (userInputValue == "") {
            html_data = `<p class="style-text" style="color: red;">Email cannot be empty</p>`
            messageBox.innerHTML = html_data;
        } else {
            fetch(`/email_availability/${userInputValue}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                    'X-CSRFToken': csrfToken,
                },
                body: 'user_input=' + encodeURIComponent(userInputValue),
            })
                .then(response => response.json())
                .then(data => {
                    var html_data;
                    console.log(data.response)
                    if (data.response == "available") {
                        html_data = `<p class="style-text" style="color: green;">Email is not taken</p>`
                        messageBox.innerHTML = html_data;
                        updateInfo.disabled = false;
                    }
                    else if (data.response == "not available") {
                        html_data = `<p class="style-text" style="color: red;">Email is already taken</p>`
                        messageBox.innerHTML = html_data;
                        updateInfo.disabled = true;
                    }
                });
        }
    }

    var bar = document.querySelector('.account-bar');
    bar.classList.add('this-active');
</script>

<!--<script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js"
        data-id="kkuunofficialstore" data-description="Support me on Buy me a coffee!" data-color="#0d6efd"
        data-position="Right" data-x_margin="18" data-y_margin="108"></script>-->

{% endblock %}