{% extends 'layout.html' %}
{% load static %}

{% block title %}
<title>Purchase successful</title>
{% endblock %}

{% block body %}

<div class="container d-flex justify-content-center align-items-center" style="min-height: 90vh;">
    <div class="row slideInRight bg-dark text-light p-3 shadow" style="width: 60%;">
        <h1 class="style-heading">Item sold successfully!</h1>
        <p class="style-text-2 lead">
            {{item.product_name}} was sold to {{user.first_name}} {{user.last_name}} ({{user.username}}) for
            {{item.product_price}} SAR. Your total sale count for this product has increased by 1.
        </p>
        <form action="{% url 'shop:delete_listing' item.id %}">
            {% csrf_token %}
            <input type="submit" class="btn btn-danger my-2" value="Delete product"
                onclick="this.disabled=true; this.value='Submitting...'; this.form.submit();">
            <a href="{% url 'shop:my_shop' %}" class="btn btn-outline-light">Keep product</a>
        </form>
        <p class="style-text-2 my-3"><strong>Note: </strong>Please delete the product if it is out of stock to prevent
            getting any further orders.</p>
    </div>
</div>

{% endblock %}