{% extends 'layout.html' %}
{% load static %}

{% block title %}
<title>Create a new listing</title>
{% endblock %}

{% block body %}

{% if message %}
<div class="notice">
    <div class="card p-md-3 p-2 mx-4 col-md-6 bg-dark shadow animate__animated animate__zoomIn">
        <div class="card-body">
            <h1 class="style-text-3 text-light">Oops..!</h1>
            <p class="style-text-2 text-light">
                {{message}} 
            </p>
            <div class="style-text mt-4">
                <button class="btn btn-light" onclick="document.querySelector('.notice').style.display='none';">Okay</button>
            </div>
        </div>
    </div>
</div>
{% endif %}

<div id="imagePreviewModal" class="modal">
    <div class="modal-content bg-dark animate__animated animate__bounceIn"
        style="height: auto; width: auto; max-width: 90%;">
        <span class="close" style="cursor: pointer;"><i class="bi bi-x-circle-fill text-danger lead mx-2"></i></span>
        <img id="preview" src="" alt="Preview" style="width: 100vh; height: auto; max-height: 70vh;">
        <button type="button" id="cropButton" class="btn text-light">Crop Image</button>
    </div>
</div>

<div class="container-fluid bg-light">
    <div class="row bg-light p-md-3 py-3 px-1">
        <div class="col-md-8">
            <article>
                <h1 class="display-1 style-text-3 ">New listing</h1>
                <p class="style-text">
                    Do you have something to sell? Maybe a product (e.g. pen, tablet, iPhone etc) or a service (e.g.
                    Delivery service, selling cakes, food etc) you have come to the right place. List your product
                    or service in few simple steps on the marketplace.
                </p>
            </article>
        </div>
        <div class="col-md-4 d-none d-md-flex justify-content-center align-items-center">
            <img src="../static/media/undraw_transfer_money_re_6o1h.svg" alt="image"
                style="height: 10rem; width: auto;">
        </div>
    </div>
    <div class="row bg-dark p-md-4 p-3">
        <h1 class="display-4 style-text-3 text-light">Create your new listing</h1>
    </div>
    <form action="{% url 'shop:new_listing' %}" method="post" enctype="multipart/form-data" id="myForm">
        <div class="row bg-light p-md-4 p-2 py-4">
            {% csrf_token %}
            <div class="col-md-6">
                <div class="bg-dark text-light p-3 mb-3 shadow">
                    <div class="row">
                        <div class="style-text-3 display-5">Step 1: <hr></div>
                        <h3 class="style-heading">Select an image for your product:</h3>
                        <p class="style-text text-light">You are only allowed to select 1 image of your product or service. Make sure it is high quality and looks attractive.</p>
                        <div class="col-md-6">
                            <h5 class="style-text-3">Image preview:</h5>
                            <img id="croppedPreview" src="" alt="Your product image appears here" style="width: 100%; max-width: 100%; height: auto;"
                                onerror="this.onerror=null; this.src='../static/media/logo/png/logo-color.png';">
                        </div>
                        <div class="col-md-6 my-3 d-flex align-items-end">
                            <div>
                                <label for="imageUpload" class="btn btn-outline-light">Select an Image</label>
                                <input type="file" name="product_images" class="custom-file-input" id="imageUpload"
                                    accept="image/jpeg, image/png">
                                <p class="text-light style-text-3 my-2 mx-1" id="selectedFiles">No image chosen</p>
                                <hr>
                                <p class="text-light style-text">Only JPEG and PNG image formats are supported</p>
                                <!-- Add hidden input fields for cropping data -->
                                <input type="hidden" id="x" name="crop_x">
                                <input type="hidden" id="y" name="crop_y">
                                <input type="hidden" id="width" name="crop_width">
                                <input type="hidden" id="height" name="crop_height">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-dark text-light p-3 mb-3 shadow">
                    <h3 class="style-heading">Select your plan:</h3>
                    <p class="style-text text-light">Tell us for how long do you want to list your product. You can change your plan again once your product or service expires.</p>
                    <div class="row px-4 style-text-2">
                        <div class="form-check col-md-3 mb-2">
                            <input class="form-check-input border-primary" type="radio" name="flexRadioDefault"
                                value="4" checked>
                            <label class="form-check-label" for="flexRadioDefault">
                                Post for 4 days <br> (FREE)
                            </label>
                        </div>
                        <div class="form-check col-md-3 mb-2">
                            <input class="form-check-input border-primary" type="radio" name="flexRadioDefault"
                                value="14">
                            <label class="form-check-label" for="flexRadioDefault">
                                Post for 14 days <br> (FREE)
                            </label>
                        </div>
                        <div class="form-check col-md-3 mb-2">
                            <input class="form-check-input border-primary" type="radio" name="flexRadioDefault"
                                value="28">
                            <label class="form-check-label" for="flexRadioDefault">
                                Post for 28 days <br> (FREE)
                            </label>
                        </div>
                        <div class="form-check col-md-3 mb-2">
                            <input class="form-check-input border-primary" type="radio" name="flexRadioDefault"
                                value="29">
                            <label class="form-check-label" for="flexRadioDefault">
                                FOREVER <br> (5.00 $)
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="bg-dark text-light p-3 mb-3 shadow">
                    <div class="style-text-3 display-5">Step 2:</div>
                    <hr>
                    <h3 class="style-heading">Set a name for your product or service:</h3>
                    <p class="style-text text-light">Make sure to give a name that is short and catchy</p>
                    <input type="text" class="form-control style-text" name="product_name" placeholder="e.g. Chocolate"
                        id="product_name">
                </div>
                <div class="bg-dark text-light p-3 mb-3 shadow">
                    <div class="style-text-3 display-5">Step 3:</div>
                    <hr>
                    <h3 class="style-heading">Description of your product or service:</h3>
                    <p class="style-text text-light">The description shouldn't be too long or too short. It should give
                        customer a clear idea about what you are selling.</p>
                        <textarea class="form-control style-text" id="description" name="product_description" rows="4" style="resize: none;"
                        placeholder="e.g. I'm selling my chocolate because I just remembered that I have diabetes..."></textarea>
                    <p class="style-text-2 text-light m-2"><span id="charCount">0</span> / 500 words</p>
                </div>
                <div class="bg-dark text-light p-3 mb-3 shadow">
                    <div class="style-text-3 display-5">Step 4:</div>
                    <hr>
                    <h3 class="style-heading">Set a price for your product or service (SAR):</h3>
                    <p class="style-text text-light">A small but extremely important part of selling a product. Set a price that is not too cheap or too expensive for your product. Keep in mind it should be affordable.</p>
                    <input type="text" class="form-control style-text" name="price" id="price" placeholder="1,000,000,000">
                </div>
            </div>
            <div class="p-3 style-text-3">
                <strong>Note:</strong> Make sure you have entered all the details correctly. You will not be able to modify anything again once
                your product or service is published.
                <br>
                <button type="submit" class="btn btn-dark my-3">
                    <i class="bi bi-cash-stack lead mx-1"></i> 
                    <span class="style-text-3 lead mx-2">Publish</span>
                </button>
            </div>
        </div>
    </form>
</div>

<script>
    document.getElementById('imageUpload').addEventListener('change', function (e) {
        var label = document.getElementById('selectedFiles');
        var files = e.target.files;

        if (files.length > 1) {
            label.innerText = files.length + ' files selected';
        } else {
            label.innerText = files[0].name;
        }
    });
    document.addEventListener("DOMContentLoaded", function () {
        var textArea = document.getElementById("description");
        var charCount = document.getElementById("charCount");

        textArea.addEventListener("input", function () {
            var text = this.value;
            if (text.length > 500) {
                this.value = text.substring(0, 500);
            }
            charCount.textContent = this.value.length;
        });
    });

    function disableButton() {
        var button = document.getElementById('cropButton');
        button.disabled = true;
        button.innerHTML = "Uploading image...";
    }

    // Function to initialize Cropper
    function initCropper(imageElement) {
        window.cropper = new Cropper(imageElement, {
            aspectRatio: 1, // Set desired aspect ratio
            viewMode: 1,    // Set cropping mode
            crop: function (event) {
                // Update hidden input fields with cropping data
                document.getElementById('x').value = event.detail.x;
                document.getElementById('y').value = event.detail.y;
                document.getElementById('width').value = event.detail.width;
                document.getElementById('height').value = event.detail.height;
            }
        });

        // Listen for crop button click
        document.getElementById('cropButton').addEventListener('click', function () {
            disableButton()
            setTimeout(function () {
                // Get the canvas element where Cropper has drawn the cropped image
                var canvas = window.cropper.getCroppedCanvas();
                // Convert the canvas to a data URL representing the cropped image
                var croppedDataURL = canvas.toDataURL();
                // Set the src attribute of the cropped preview image
                document.getElementById('croppedPreview').src = croppedDataURL;

                // Send cropping data to the server
                var xhr = new XMLHttpRequest();
                xhr.open('GET', '/crop-image?x=' + document.getElementById('x').value + '&y=' + document.getElementById('y').value + '&width=' + document.getElementById('width').value + '&height=' + document.getElementById('height').value);
                xhr.onload = function () {
                    if (xhr.status === 200) {
                        console.log('Cropping data sent successfully');
                    } else {
                        // Handle error response from server if needed
                        console.error('Error sending cropping data to server');
                    }
                    // Enable the button again
                    document.getElementById('cropButton').disabled = false;
                    document.getElementById('cropButton').innerHTML = "Crop image";
                };
                xhr.send();

                // Close the modal
                document.getElementById('imagePreviewModal').style.display = 'none';
            }, 100);
        });
    }

    // Add event listener to input file element
    document.getElementById('imageUpload').addEventListener('change', function (event) {
        var input = event.target;
        var reader = new FileReader();
        reader.onload = function () {
            var dataURL = reader.result;
            var preview = document.getElementById('preview');
            var modal = document.getElementById('imagePreviewModal');
            // Set the src attribute of the preview image element
            preview.src = dataURL;
            // Show the modal
            modal.style.display = 'flex';
            // Destroy previous Cropper instance if exists
            if (window.cropper) {
                window.cropper.destroy();
            }
            // Initialize Cropper on the preview image
            initCropper(preview);
        };
        // Read the selected file as a Data URL
        reader.readAsDataURL(input.files[0]);
    });

    // Get the modal
    var modal = document.getElementById('imagePreviewModal');

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // Function to save form data to localStorage
    function saveFormData() {
        const formData = {
            name: document.getElementById('product_name').value,
            description: document.getElementById('description').value,
            price: document.getElementById('price').value
        };

        localStorage.setItem('formData', JSON.stringify(formData));
    }

    // Function to load form data from localStorage
    function loadFormData() {
        const savedData = localStorage.getItem('formData');
        if (savedData) {
            const formData = JSON.parse(savedData);
            document.getElementById('product_name').value = formData.name;
            document.getElementById('description').value = formData.description;
            document.getElementById('price').value = formData.price;
        }
    }

    // Listen for changes in the form fields and save data to localStorage
    document.getElementById('myForm').addEventListener('change', saveFormData);

    // Load form data from localStorage when the page loads
    window.addEventListener('load', loadFormData);

</script>

{% endblock %}