{% extends 'layout.html' %}
{% load static %}

{% block title %}
<title>Create a new listing</title>
{% endblock %}

{% block body %}

<div class="container">
    <div class="row" style="min-height: 80vh;">
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <img class="widthlock my-3" src="{% static 'media/undraw_web_shopping_re_owap.svg' %}"
                alt="Picture shopping">
        </div>
        <div class="col-md-6 d-flex justify-content-start align-items-center p-5">
            <article>
                <h1 class="style-heading mb-4">Create your new listing</h1>
                <form action="{% url 'shop:new_listing' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <label for="product_name" class="form-label">Name of your product:</label>
                            <input type="text" class="form-control style-text" name="product_name"
                                placeholder="e.g. Chocolate">
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-12">
                            <label for="description" class="form-label">Product details:</label>
                            <textarea class="form-control style-text" id="description" name="product_description"
                                rows="4"
                                placeholder="Write a short and attractive description about your product"></textarea>
                            <p class="style-text-2 text-success"><span id="charCount">0</span> / 500</p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <label for="price" class="form-label">Set a price for your product (SAR):</label>
                            <input type="text" class="form-control style-text" name="price" placeholder="5.00">
                        </div>
                    </div>
                    <div class="row mb-3 mt-4">
                        <div class="col-md-12">
                            <label for="imageUpload" class="btn btn-outline-success">Select an Image</label>
                            <input type="file" name="product_images" class="custom-file-input" id="imageUpload"
                                accept="image/*">
                            <span class="text-success" id="selectedFiles">No file chosen</span>
                        </div>
                    </div>
                    <div class="row mb-4 mt-4 style-text">
                        <div class="style-text"><strong>Select your plan:</strong></div>
                        <div class="form-check col-4 m-2">
                            <input class="form-check-input border-success" type="radio" name="flexRadioDefault" value="1">
                            <label class="form-check-label" for="flexRadioDefault">
                                Post for 1 day <br> 
                            </label>
                        </div>
                        <div class="form-check col-4 m-2">
                            <input class="form-check-input border-success" type="radio" name="flexRadioDefault" value="7"
                                checked>
                            <label class="form-check-label" for="flexRadioDefault">
                                Post for 1 week <br>
                            </label>
                        </div>
                        <div class="form-check col-4 m-2">
                            <input class="form-check-input border-success" type="radio" name="flexRadioDefault" value="1"
                                disabled>
                            <label class="form-check-label" for="flexRadioDefault">
                                Post for 2 weeks <br>
                            </label>
                        </div>
                        <div class="form-check col-4 m-2">
                            <input class="form-check-input border-success" type="radio" name="flexRadioDefault" value="1"
                                disabled>
                            <label class="form-check-label" for="flexRadioDefault">
                                Post for 1 month <br>
                            </label>
                        </div>
                    </div>
                    {% if message %}
                    <p class="style-text" style="color: red;">{{message}}</p>
                    {% endif %}
                    <button type="submit" class="btn btn-success" style="float: right;"><i
                            class="bi bi-cash-stack lead mx-1"></i> <span class="style-text lead mx-2">Put up for
                            sale</span></button>
                </form>
            </article>
        </div>
    </div>
</div>

<script>
    document.getElementById('imageUpload').addEventListener('change', function (e) {
        var label = document.getElementById('selectedFiles');
        var files = e.target.files;

        if (files.length > 1) {
            label.innerText = files.length + ' files selected';
        } else {
            label.innerText = files[0].name;
        }
    });
    document.addEventListener("DOMContentLoaded", function () {
        var textArea = document.getElementById("description");
        var charCount = document.getElementById("charCount");

        textArea.addEventListener("input", function () {
            var text = this.value;
            if (text.length > 500) {
                this.value = text.substring(0, 500);
            }
            charCount.textContent = this.value.length;
        });
    });
</script>

{% endblock %}