{% extends "layout.html" %}
{% load static %}

{% block body %}

{% if message %}
<div class="notice">
    <div class="card p-md-3 p-2 mx-4 col-md-6 bg-dark shadow animate__animated animate__zoomIn">
        <div class="card-body">
            <h1 class="style-text-3 text-light">Oops..!</h1>
            <p class="style-text-2 text-light">
                {{message}}
            </p>
            <div class="style-text mt-4">
                <button class="btn btn-light"
                    onclick="document.querySelector('.notice').style.display='none';">Okay</button>
            </div>
        </div>
    </div>
</div>
{% endif %}

<main>
    <div class="container-fluid bg-light">
        <div class="row bg-light p-md-3 py-3 px-1">
            <div class="col-md-8">
                <article>
                    <h1 class="display-1 style-text-3 ">Sign up</h1>
                    <p class="style-text">
                        Don't have an account and want to create one? This is the right page you are looking for.
                        Create a new account in few simple steps.
                    </p>
                </article>
            </div>
            <div class="col-md-4 d-none d-md-flex justify-content-center align-items-center">
                <img src="../static/media/undraw_login_re_4vu2.svg" alt="image" style="height: 10rem; width: auto;">
            </div>
        </div>
        <div class="row bg-dark p-md-4 p-3">
            <h1 class="display-4 style-text-3 text-light">Create new account</h1>
        </div>
        <form action="{% url 'shop:signup_user' %}" method="post" class="style-text-3" id="myForm">
            {% csrf_token %}
            <div class="row p-2 py-4 p-md-4">
                <div class="col-md-6 px-md-3">
                    <div class="row mb-2 bg-dark text-light p-3 shadow">
                        <h3 class="style-heading">Your full name</h3>
                        <p class="style-text text-light">This is the name that will appear to sellers and your potential buyers</p>
                        <div class="col-md-6">
                            <label for="first" class="form-label">First name</label>
                            <input type="text" class="form-control" name="first" id="web_first" placeholder="Mohammad">
                        </div>
                        <div class="col-md-6">
                            <label for="second" class="form-label">Second name</label>
                            <input type="text" class="form-control" name="second" id="web_second" placeholder="Abdul">
                        </div>
                    </div>
                    <div class="row mb-2 bg-dark text-light p-3 shadow">
                        <h3 class="style-heading">Your username and Email</h3>
                        <p class="style-text text-light">Give yourself a unique username and a valid Email id. You will need this for logging in anytime, try not to forget it. All your status updates will be sent on your Email, make sure it is valid and working.</p>
                        <div class="col-md-6">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" class="form-control" name="username" id="userInput" aria-describedby="checkUsernameAvailability" oninput="delayFunction()" placeholder="e.g. JoJo">
                        </div>
                        <div class="col-md-6">
                            <label for="email" class="form-label">Email address</label>
                            <input type="email" class="form-control" name="email" id="web_email" placeholder="e.g. my_email@gmail.com">
                        </div>
                        <div id="checkUsernameAvailability" class="form-text lead"><p class="style-text-3 text-light">Check username availability</p></div>
                    </div>
                    <div class="row mb-2 bg-dark text-light p-3 shadow">
                        <h3 class="style-heading">Create new password</h3>
                        <p class="style-text text-light">Make a new password for your account. Please make sure to remember it.</p>
                        <div class="col-md-6">
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            <input type="text" name="password" class="form-control" placeholder="ilovecupcakes">
                        </div>
                        <div class="col-md-6">
                            <label for="exampleInputPassword2" class="form-label">Confirm password</label>
                            <input type="password" name="password2" class="form-control" placeholder="ilovecupcakes">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 px-md-3">
                    <div class="row mb-2 bg-dark text-light p-3 shadow">
                        <h3 class="style-heading">Please enter your whatsapp number</h3>
                        <p class="style-text text-light">This will be used by your potential buyers and sellers to contact you. Make sure you don't forget the '+' symbol while writing your whatsapp number.</p>
                        <div class="col-md-12">
                            <label for="whatsapp" class="form-label">Whatsapp no.</label>
                            <input type="text" class="form-control" name="whatsapp" id="web_whatsapp"
                                placeholder="e.g. +966509338765">
                        </div>
                    </div>
                    <div class="row mb-2 bg-dark text-light p-3 shadow">
                        <h3 class="style-heading">Student housing address</h3>
                        <p class="style-text text-light">Please enter your address, this will be used by sellers to deliver you your products. Make sure it is correct.</p>
                        <div class="col-md-6">
                            <input type="text" class="form-control" name="room_no" id="address"
                                placeholder="Enter your Room number" aria-describedby="address_help">
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <select class="form-control" id="building_code" name="building_code">
                                    <option value="0">Select your building</option>
                                    <option value="br1">BR1</option>
                                    <option value="br2">BR2</option>
                                    <option value="br3">BR3</option>
                                    <option value="br4">BR4</option>
                                    <option value="br5">BR5</option>
                                    <option value="br6">BR6</option>
                                    <option value="br7">BR7</option>
                                    <option value="br8">BR8</option>
                                    <option value="br9">BR9</option>
                                    <option value="br10">BR10</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2 bg-dark text-light p-3 shadow">
                        <div>
                            <button type="submit" class="btn btn-light my-2">Register</button>
                            <a href="{% url 'shop:login_user' %}" type="submit" class="btn text-light btn-outline-dark">Already have an account</a>
                            <hr>
                            <p>By clicking on register you agree to accept our <a href="{% url 'shop:terms_conditions' %}" class="text-light">terms and conditions</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>

<script>
    let timeoutId;
    let functionCalled = false;

    function delayFunction() {
        clearTimeout(timeoutId);
        timeoutId = setTimeout(() => {
            if (!functionCalled) {
                checkUsername();
                functionCalled = true;
            }
        }, 2000);
        functionCalled = false;
    }

    function checkUsername() {

        var messageBox = document.getElementById('checkUsernameAvailability');
        var csrfToken = document.getElementsByName('csrfmiddlewaretoken')[0].value;
        var userInput = document.getElementById('userInput');
        var userInputValue = userInput.value;

        if (userInputValue == "") {
            html_data = `<p class="style-text-3 text-danger">Username cannot be empty</p>`
            messageBox.innerHTML = html_data;
        } else {
            fetch(`/username_availability/${userInputValue}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                    'X-CSRFToken': csrfToken,
                },
                body: 'user_input=' + encodeURIComponent(userInputValue),
            })
                .then(response => response.json())
                .then(data => {
                    var html_data;
                    console.log(data.response)
                    if (data.response == "available") {
                        html_data = `<p class="style-text-3 text-success">Username is available</p>`
                        messageBox.innerHTML = html_data;
                    }
                    else if (data.response == "not available") {
                        html_data = `<p class="style-text-3 text-danger">Username is already taken</p>`
                        messageBox.innerHTML = html_data;
                    }
                });
        }
    }

    // Function to save form data to localStorage
    function saveFormData() {
        const formData = {
            first: document.getElementById('first').value,
            second: document.getElementById('second').value,
            whatsapp: document.getElementById('whatsapp').value,
            username: document.getElementById('userInput').value,
            email: document.getElementById('email').value,
            address: document.getElementById('address').value
        };

        localStorage.setItem('formData', JSON.stringify(formData));
    }

    // Function to load form data from localStorage
    function loadFormData() {
        const savedData = localStorage.getItem('formData');
        if (savedData) {
            const formData = JSON.parse(savedData);
            document.getElementById('first').value = formData.first;
            document.getElementById('second').value = formData.second;
            document.getElementById('whatsapp').value = formData.whatsapp;
            document.getElementById('userInput').value = formData.username;
            document.getElementById('email').value = formData.email;
            document.getElementById('address').value = formData.address;
        }
    }

    // Listen for changes in the form fields and save data to localStorage
    document.getElementById('myForm').addEventListener('change', saveFormData);

    // Load form data from localStorage when the page loads
    window.addEventListener('load', loadFormData);
</script>
{% endblock %}