{% extends 'layout.html' %}
{% load static %}

{% block title %}
{% if user.is_authenticated %}
<title>Welcome, {{request.user.first_name}}!</title>
{% else %}
<title>Welcome, user!</title>
{% endif %}
{% endblock %}

{% block body %}
<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
<div class="container p-4">
    <div class="row" data-masonry='{"percentPosition": true }'>
        {% for item in items %}
        <div class="col-sm-2 col-xs-2 col-md-4 col-lg-3 g-3">
            <div class="shadow fadeInUp card my-2 d-flex justify-content-center align-items-center">
                <img class="heightlock" src="{% url 'shop:get_image' item.firebase_path %}" class="card-img-top"
                    alt="{{item.product_name}}">
                <div class="card-body" style="width: 100%;">
                    <h5 class="card-title style-text-2 text-primary"><a href="{% url 'shop:buy' item.id %}"
                        class="text-primary style-text">{{item.product_name}}</a></h5>
                    <hr>
                    <h5 class="card-title style-text">SAR {{item.product_price}}</h5>
                    <p class="card-text text-dark style-text-2 truncate-3-lines">{{item.product_description}}</p>
                    <p class="text-muted style-text"><i class="bi bi-star-fill lead"></i> {{item.ratings}}/5.0
                        ({{item.num_raters}})</p>
                    {% if user.username != item.username %}
                    {% if item.id in bought_items %}
                    <a href="{% url 'shop:myOrders' %}" class="btn btn-primary my-2">Requested</a>
                    {% elif item.id in completed_items %}
                    <button class="btn btn-disabled my-2 text-primary">Purchased</button>
                    {% else %}
                    <a href="{% url 'shop:buy' item.id %}" class="btn btn-primary my-2">Show item</a>
                    {% endif %}
                    {% if item.id in wishlist %}
                    <button class="btn btn-outline-primary add-to-wishlist" data-item-id="{{ item.id }}">
                        <i class="bi bi-star-fill"></i></button>
                    {% else %}
                    <button class="btn btn-outline-primary add-to-wishlist" data-item-id="{{ item.id }}">
                        <i class="bi bi-star"></i></button>
                    {% endif %}
                    {% endif %}
                </div>
                <div class="card-footer style-text-2 text-muted" style="width: 100%;">Posted on {{item.timestamp}}</div>
            </div>
        </div>
        {% empty %}
        <div class="row d-none d-lg-flex align-items-center p-4" style="min-height: 70vh;">
            <div class="col-md-7 animate__animated animate__bounceIn">
                <h1 class="style-text-3">You don't have any items in your wishlist...</h1>
                <p class="text-muted style-text">Wishlisted items appear here</p>
            </div>
            <div class="col-md-5 d-flex justify-content-center align-items-center">
                <img class="widthlock" src="{% static 'media/undraw_wishlist_re_m7tv.svg' %}" alt="Wishlist">
            </div>
        </div>
        <div class="container d-flex d-lg-none justify-content-center align-items-center" style="min-height: 50vh;">
            <div class="col-12 col-md-5">
                <div class="card shadow">
                    <img class="widthlock p-2" src="{% static 'media/undraw_wishlist_re_m7tv.svg' %}" alt="empty">
                    <div class="card-body">
                        <article>
                            <h1 class="style-text-3 my-3">You don't have any items in your wishlist...</h1>
                            <hr>
                            <p class="text-muted style-text">Wishlisted items appear here</p>
                            <a href="{% url 'shop:index' %}" class="btn btn-outline-primary style-text-2">Home</a>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script>
    var csrftoken = $("[name=csrfmiddlewaretoken]").val();
    $('.add-to-wishlist').on('click', function () {
        var icon = $(this).find('i');
        var item_id = $(this).data('item-id');
        if (icon.hasClass('bi bi-star')) {
            // Add item to wishlist
            $.ajax({
                url: '/addToWishlist/' + item_id,
                type: 'POST',
                dataType: 'json',
                headers: { 'X-CSRFToken': csrftoken },
                success: function (data) {
                    alert(data.message);
                    icon.removeClass('bi bi-star').addClass('bi bi-star-fill');
                },
                error: function (xhr, errmsg, err) {
                    alert('Failed to add item to your wishlist');
                }
            });
        } else if (icon.hasClass('bi bi-star-fill')) {
            // Remove item from wishlist
            $.ajax({
                url: '/removeFromWishlist/' + item_id,
                type: 'POST',
                dataType: 'json',
                headers: { 'X-CSRFToken': csrftoken },
                success: function (data) {
                    alert(data.message);
                    icon.removeClass('bi bi-star-fill').addClass('bi bi-star');
                },
                error: function (xhr, errmsg, err) {
                    alert('Failed to remove item from your wishlist');
                }
            });
        }
    });
</script>

{% endblock %}