{% extends 'layout.html' %}
{% load static %}

{% block title %}
{% if user.is_authenticated %}
<title>Welcome, {{request.user.first_name}}!</title>
{% else %}
<title>Welcome, user!</title>
{% endif %}
{% endblock %}

{% block body %}
{% if not first_visit %}
<div class="notice">
    <div class="card p-md-3 p-2 mx-4 col-md-6 bg-dark shadow animate__animated animate__zoomIn">
        <div class="card-body">
            <h1 class="style-text-3 text-light">This is your wishlist page</h1>
            <p class="style-text-2 text-light">
                Did you find your favourite product? If yes then you can add that in your wishlist and not loose it among thousand other products! 
            </p>
            <div class="style-text mt-4">
                <button class="btn btn-light" onclick="document.querySelector('.notice').style.display='none';">Understood!</button>
            </div>
        </div>
    </div>
</div>
{% endif %}
<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
<div class="container-fluid bg-light">
    <div class="row bg-light p-md-3 py-3 px-1">
        <div class="col-md-8">
            <article>
                <h1 class="display-1 style-text-3 ">Wishlist</h1>
                <p class="style-text">
                    Have you found your favourite product or a service? Don't lose them among thousands
                    of other product by wishlisting it. All your wishlisted items will appear here.
                </p>
            </article>
        </div>
        <div class="col-md-4 d-none d-md-flex justify-content-center align-items-center">
            <img src="../static/media/undraw_wishlist_re_m7tv.svg" alt="image"
                style="height: 10rem; width: auto;">
        </div>
    </div>
    <div class="row bg-dark p-md-4 p-3">
        <h1 class="display-4 style-text-3 text-light">Your wishlisted items</h1>
    </div>
    <div class="row">
        {% for item in items %}
        <div class="col-lg-3 col-md-6 my-2">
            <div class="card card-item shadow">
                <div class="card-header style-text-3 bg-dark text-light">
                    @{{item.username}}'s item
                </div>
                <img src="{% url 'shop:get_image' item.firebase_path %}" class="product_image" alt="{{item.product_name}}">
                <div class="product_details bg-dark">
                    <h4><a href="{% url 'shop:buy' item.id %}" class="text-light text-decoration-none style-text-3 truncate-2-lines" onclick="this.classList.add('disabled');">{{item.product_name}}</a></h4>
                    <hr class="text-light">
                    <h4 class="style-text-3 text-light">SAR {{item.product_price}}</h4>
                    <p class="card-text style-text text-light truncate-3-lines">
                        {{item.product_description}}
                    </p>
                    <p class="style-text">
                        <i class="bi bi-heart-fill lead text-danger"></i>
                        <span class="mx-2 text-light">{{item.ratings}}/5.0 ({{item.num_raters}})</span>
                        <br>
                        <i class="bi bi-bag-fill lead text-primary"></i> 
                        <span class="mx-1 text-light">Bought by: {{item.num_orders}} buyer(s)</span>
                    </p>
                    <div class="style-text-2">
                        {% if user.username != item.username %}
                        {% if item.id in bought_items %}
                        <a href="{% url 'shop:myOrders' %}" class="btn btn-light my-2"
                            onclick="this.classList.add('disabled');">Requested</a>
                        {% else %}
                        <a href="{% url 'shop:buy' item.id %}" class="btn btn-light my-2"
                            onclick="this.classList.add('disabled');">Show item</a>
                        {% endif %}
                        {% if item.id in wishlist %}
                        <button class="btn btn-outline-light add-to-wishlist" data-item-id="{{ item.id }}">
                            <i class="bi bi-star-fill"></i></button>
                        {% else %}
                        <button class="btn btn-outline-light add-to-wishlist" data-item-id="{{ item.id }}">
                            <i class="bi bi-star"></i></button>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
                <div class="card-footer style-text-3 bg-dark text-light">
                    Posted on {{item.timestamp}}
                </div>
            </div>
        </div>
        {% empty %}
        <h5 class="display-6 style-text-3 p-md-4 p-2 py-4" style="height: 70vh;">You don't have any items in your wishlist</h5>
        {% endfor %}
    </div>
</div>

<script>
    var csrftoken = $("[name=csrfmiddlewaretoken]").val();
    $('.add-to-wishlist').on('click', function () {
        var icon = $(this).find('i');
        var item_id = $(this).data('item-id');
        if (icon.hasClass('bi bi-star')) {
            // Add item to wishlist
            $.ajax({
                url: '/addToWishlist/' + item_id,
                type: 'POST',
                dataType: 'json',
                headers: { 'X-CSRFToken': csrftoken },
                success: function (data) {
                    alert(data.message);
                    icon.removeClass('bi bi-star').addClass('bi bi-star-fill');
                },
                error: function (xhr, errmsg, err) {
                    alert('Failed to add item to your wishlist');
                }
            });
        } else if (icon.hasClass('bi bi-star-fill')) {
            // Remove item from wishlist
            $.ajax({
                url: '/removeFromWishlist/' + item_id,
                type: 'POST',
                dataType: 'json',
                headers: { 'X-CSRFToken': csrftoken },
                success: function (data) {
                    alert(data.message);
                    icon.removeClass('bi bi-star-fill').addClass('bi bi-star');
                },
                error: function (xhr, errmsg, err) {
                    alert('Failed to remove item from your wishlist');
                }
            });
        }
    });
</script>

{% endblock %}