{% extends 'ar/layout.html' %}
{% load static %}

{% block title %}
<title>Error 500</title>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row d-flex align-items-center" style="min-height: 80vh;">
        <div class="col-md-5 d-flex justify-content-center align-items-center">
            <img src="{% static 'media/undraw_location_search_re_ttoj.svg' %}" alt="page 500" class="widthlock">
        </div>
        <div class="col-md-7 animate__animated animate__bounceIn">
            <h1 class="style-text-3">يبدو أن المادة قد تم حذفها..</h1>
            <p class="text-muted style-text">يحدث هذا عندما يقوم المستخدم بحذف عنصر أو تعليق أو طلب أو أي شيء من الموقع.</p>
            <a href="{% url 'shop:homepage' %}" class="btn btn-outline-primary">Homepage</a>
        </div>
    </div>
</div>
{% endblock %}