<!DOCTYPE html>
<html lang="ar">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>متجر جامعة الملك خالد غير الرسمي</title>

    <style>
        .style-heading {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.5rem;
        }

        .btn {
            color: #f7f7f7;
            text-decoration: none;
        }

        .container {
            min-height: 30vh;
            background-color: #000;
            padding: 2rem;
        }

        .text-white {
            color: #f7f7f7;
        }
    </style>
</head>


<body dir="rtl">
    <div class="container">
        <article>
            <h1 class="style-heading">{{ specialKeys.0 }} قام بطلب {{ specialKeys.2 }}. يرجى التحقق من متجرك فوراً.</h1>
            <p class="style-heading">
                <strong style="font-size: 2rem;">تفاصيل المشتري</strong><br><br>
                الاسم: <span class="text-white">{{ specialKeys.0 }}</span><br>
                واتساب: <a href="https://wa.me/{{ specialKeys.5 }}" class="text-white">{{ specialKeys.5 }} (انقر هنا للتواصل مع المستخدم عبر واتساب)</a>
                <br><br>
                <a href="https://unstore.pythonanywhere.com/myShop/" class="btn" target="_blank">انقر هنا للذهاب إلى متجرك وقبول طلب المستخدم.</a>
            </p>
            <p class="style-heading">
                ملاحظة: في حال عدم تسليم الطلب، سيتم فرض عقوبة على حسابك. <br> <br>
                تحياتنا <br>
                <strong>متجر جامعة الملك خالد غير الرسمي</strong>
            </p>
        </article>
    </div>
</body>

</html>