{% extends 'ar/layout.html' %}
{% load static %}

{% block title %}
{% if user.is_authenticated %}
<title>مرحبًا، {{request.user.first_name}}!</title>
{% else %}
<title>مرحبًا، مستخدم!</title>
{% endif %}
{% endblock %}

{% block body %}
<div id="myModal" class="container-fluid slideInDown">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-6 d-flex justify-content-center align-items-center my-4">
            <img class="widthlock" src="{% static 'media/search.svg' %}" alt="صورة">
        </div>
        <div class="col-md-6">
            <article>
                <h1 class="style-text-3">ابحث عن عنصر</h1>
                <p class="lead style-text text-muted">
                    اكتب اسمًا أو وصفًا عن المنتج
                </p>
                <form action="{% url 'shop:search_item' %}" method="post" class="style-text">
                    {% csrf_token %}
                    <input type="text" class="form-control mb-3 shadow" placeholder="اكتب هنا.." name="search">
                    <button type="submit" class="btn btn-outline-primary"
                        onclick="this.disabled=true; this.value='جار البحث...'; this.form.submit();">
                        بحث عن المنتج</button>
                    <button class="btn btn-outline-danger" type="button" onclick="closeModal()">إلغاء</button>
                </form>
            </article>
        </div>
    </div>
</div>
{% if not first_visit and user.is_authenticated %}
<div class="notice">
    <div class="card p-md-3 p-2 mx-4 col-md-6 bg-light shadow animate__animated animate__zoomIn">
        <div class="card-body">
            <h1 class="style-text-3">!مرحبًا بك في سوق الطلاب</h1>
            <hr>
            <p class="style-text-2">
                "هل لديك سلعة لا تحتاج إليها؟ لماذا ترميها عندما يمكنك بيعها؟ يوفر هذا الموقع منصة حيث يمكنك شراء وبيع الأشياء. <br><br>
                وصل إلى جمهور يبلغ عددهم الآلاف ببضع نقرات فقط، مصدر مثالي للدخل الجانبي 😎
            </p>
            <div class="style-text mt-4">
                <button class="btn btn-primary" onclick="document.querySelector('.notice').style.display='none';">ابدأ
                    الاستكشاف!</button>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% if notice and user.is_authenticated %}
<div class="devnotice">
    <div class="card p-md-3 p-2 mx-4 col-md-6 bg-light shadow animate__animated animate__zoomIn">
        <div class="card-body">
            <h1 class="style-text-3">{{notice.title}}</h1>
            <hr>
            <p class="style-text-2">
                {{notice.body}}
            </p>
            <div class="style-text mt-4">
                <button class="btn btn-primary"
                    onclick="document.querySelector('.devnotice').style.display='none';">{{notice.button_text}}</button>
            </div>
        </div>
    </div>
</div>
{% endif %}

<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
<div class="container mb-4">
    {% if not user.is_authenticated %}
    <div class="row bg-danger my-3 mx-1">
        <a href="{% url 'shop:login_user' %}" class="style-text-2 text-light py-2 text-decoration-none lead">من فضلك قم
            بتسجيل الدخول للوصول إلى جميع الخدمات التي يقدمها هذا الموقع...</a>
    </div>
    {% endif %}
    {% if new_orders %}
    <div class="row bg-danger my-3 mx-1 animate__animated animate__flash">
        <a href="{% url 'shop:my_shop' %}" class="style-text-2 text-light py-2 text-decoration-none lead">لديك
            {{new_orders}} طلب جديد!</a>
    </div>
    {% endif %}
    <div class="row mx-1 mx-md-0" data-masonry='{"percentPosition": true }'>
        {% for item in page_obj %}
        <div class="col-sm-2 col-xs-2 col-md-6 col-lg-3 g-3">
            <div class="shadow card card-item hidden mb-1 d-flex align-items-center">
                <div class="card-header style-text bg-primary text-light" style="width: 100%;">متجر @{{item.username}}
                </div>
                <img src="{% url 'shop:get_image' item.firebase_path %}" class="heightlock" alt="{{item.product_name}}">
                <div class="card-body mt-2" style="width: 100%;">
                    <h4 class="text-primary" id="itemModal{{ item.id }}"><a href="{% url 'shop:buy' item.id %}"
                            class="text-primary style-text-3"
                            onclick="this.classList.add('disabled');">{{item.product_name}}</a></h4>
                    <hr>
                    <h4 class="style-text-2">ريال {{item.product_price}}</h4>
                    <p class="style-text">
                        <i class="bi bi-heart-fill lead text-danger"></i><span class="mx-2">{{item.ratings}}/5.0
                            ({{item.num_raters}})</span>
                        <span class="card-text style-text text-muted truncate-3-lines"><i
                                class="bi bi-bag-fill lead text-primary"></i> <span class="mx-1">تم شراؤه من قبل:
                                {{item.num_orders}} مشترٍ</span></span>
                    </p>
                    <p>
                        <span class="card-text style-text-2 truncate-3-lines">{{item.product_description}}</span>
                    </p>
                    <div class="style-text-2">
                        {% if user.username != item.username %}
                        {% if item.id in bought_items %}
                        <a href="{% url 'shop:myOrders' %}" class="btn btn-primary my-2"
                            onclick="this.classList.add('disabled');">مطلوب</a>
                        {% elif item.id in completed_items %}
                        <button class="btn btn-disabled my-2 text-primary">تم الشراء</button>
                        {% else %}
                        <a href="{% url 'shop:buy' item.id %}" class="btn btn-primary my-2"
                            onclick="this.classList.add('disabled');">عرض المنتج</a>
                        {% endif %}
                        {% if item.id in wishlist %}
                        <button class="btn btn-outline-primary add-to-wishlist" data-item-id="{{ item.id }}">
                            <i class="bi bi-star-fill"></i></button>
                        {% else %}
                        <button class="btn btn-outline-primary add-to-wishlist" data-item-id="{{ item.id }}">
                            <i class="bi bi-star"></i></button>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="row d-none d-lg-flex align-items-center p-4" style="min-height: 80vh;">
            <div class="col-md-7 animate__animated animate__bounceIn">
                <h1 class="style-text-3">لا توجد منتجات للبيع...</h1>
                <p class="text-muted style-text">يبدو أن السوق فارغ اليوم</p>
            </div>
            <div class="col-md-5 d-flex justify-content-center align-items-center">
                <img class="widthlock" src="{% static 'media/undraw_empty_re_opql.svg' %}" alt="فارغ">
            </div>
        </div>
        <div class="container d-flex d-lg-none justify-content-center align-items-center mt-2"
            style="min-height: 50vh;">
            <div class="col-12 col-md-5">
                <div class="card shadow animate__animated animate__zoomIn">
                    <img class="widthlock" src="{% static 'media/undraw_empty_re_opql.svg' %}" alt="فارغ">
                    <div class="card-body">
                        <article>
                            <h1 class="style-text-3 my-3">لا توجد منتجات للبيع...</h1>
                            <hr>
                            <p class="text-muted style-text">يبدو أن السوق فارغ اليوم</p>
                            <a href="{% url 'shop:new_listing' %}" class="btn btn-outline-primary style-text-2">بيع
                                منتجك</a>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Pagination links -->
<div class="pagination d-flex justify-content-center align-items-center my-4 style-text">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a class="mx-1 btn btn-primary" title="الصفحة الأولى" href="?page=1"><i
                class="bi bi-chevron-double-left"></i></a>
        <a class="mx-1 btn btn-primary" title="الصفحة السابقة" href="?page={{ page_obj.previous_page_number }}"><i
                class="bi bi-chevron-left"></i></a>
        {% endif %}

        <span class="current mx-3">
            الصفحة {{ page_obj.number }} من {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
        <a class="mx-1 btn btn-primary" title="الصفحة التالية" href="?page={{ page_obj.next_page_number }}"
            onclick="this.classList.add('disabled');"><i class="bi bi-chevron-right"></i></a>
        <a class="mx-1 btn btn-primary" title="الصفحة الأخيرة" href="?page={{ page_obj.paginator.num_pages }}"
            onclick="this.classList.add('disabled');"><i class="bi bi-chevron-double-right"></i></a>
        {% endif %}
    </span>
</div>

<script>
    localStorage.clear()
    var csrftoken = $("[name=csrfmiddlewaretoken]").val();
    $('.add-to-wishlist').on('click', function () {
        var icon = $(this).find('i');
        var item_id = $(this).data('item-id');
        if (icon.hasClass('bi bi-star')) {
            // Add item to wishlist
            $.ajax({
                url: '/addToWishlist/' + item_id,
                type: 'POST',
                dataType: 'json',
                headers: { 'X-CSRFToken': csrftoken },
                success: function (data) {
                    alert(data.message);
                    icon.removeClass('bi bi-star').addClass('bi bi-star-fill');
                },
                error: function (xhr, errmsg, err) {
                    alert('فشلت عملية إضافة العنصر إلى قائمة الرغبات الخاصة بك');
                }
            });
        } else if (icon.hasClass('bi bi-star-fill')) {
            // Remove item from wishlist
            $.ajax({
                url: '/removeFromWishlist/' + item_id,
                type: 'POST',
                dataType: 'json',
                headers: { 'X-CSRFToken': csrftoken },
                success: function (data) {
                    alert(data.message);
                    icon.removeClass('bi bi-star-fill').addClass('bi bi-star');
                },
                error: function (xhr, errmsg, err) {
                    alert('فشلت عملية إزالة العنصر من قائمة الرغبات الخاصة بك');
                }
            });
        }
    });
    $('#searchButton').prop('disabled', false);
    $('.home-bar').addClass('this-active');

    $(window).on('scroll', function () {
        $('.card-item').each(function () {
            var cardTop = $(this).offset().top;
            var windowHeight = $(window).height();
            var scrollTop = $(window).scrollTop();

            // Check if the bottom of the card is above the viewport and the top of the card is below the viewport
            var isAboveViewport = (cardTop + $(this).outerHeight()) < scrollTop;
            var isBelowViewport = cardTop > (scrollTop + windowHeight);

            // If the card is partially or fully visible in the viewport
            if (!isAboveViewport && !isBelowViewport) {
                $(this).removeClass('hidden');
            } else {
                $(this).addClass('hidden');
            }
        });
    });

    // Initially reveal the first 4 cards
    $(document).ready(function () {
        $('.card-item.hidden:lt(4)').removeClass('hidden');
    });
</script>

{% endblock %}