{% extends 'ar/layout.html' %}
{% load static %}

{% block title %}
{% if user.is_authenticated %}
<title>مرحبًا، {{request.user.first_name}}!</title>
{% else %}
<title>مرحبًا، مستخدم!</title>
{% endif %}
{% endblock %}

{% block notification_block %}
{% if request.user.is_authenticated %}
    {% if notifications %}
    <li class="nav-item animate__animated animate__headShake">
        <a class="nav-link text-danger" href="{% url 'shop:notifications' %}">مرحبًا، {{request.user.first_name}}. لديك إشعارات!</a>
    </li>
    {% else %}
    <li class="nav-item">
        <span class="nav-link">مرحبًا، {{request.user.first_name}}. ليس لديك تحديثات جديدة.</span>
    </li>
    {% endif %}
{% endif %}
{% endblock %}

{% block body %}

{% if not first_visit and user.is_authenticated %}
<div class="notice">
    <div class="card p-lg-2 p-2 mx-4 col-lg-6 bg-dark shadow animate__animated animate__zoomIn">
        <div class="card-body">
            <h1 class="style-text-3 text-light">مرحبًا، {{request.user.first_name}}!</h1>
            <p class="style-text-2 text-light mt-3">
                هل لديك عنصر لا تحتاج إليه؟ لماذا ترميه عندما يمكنك بيعه. يوفر هذا الموقع منصة مجانية وسهلة حيث يمكنك شراء وبيع الأشياء. <br><br>
                تصل إلى جمهور يصل إلى الآلاف ببضع نقرات فقط.
            </p>
            <div class="style-text mt-4">
                <button class="btn btn-light"
                    onclick="document.querySelector('.notice').style.display='none';">رائع!!</button>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if notice and user.is_authenticated %}
<div class="devnotice">
    <div class="card p-lg-2 p-2 mx-4 col-lg-6 bg-dark shadow animate__animated animate__zoomIn">
        <div class="card-body">
            <h1 class="style-text-3 text-light">{{notice.title}}</h1>
            <p class="style-text-2 text-light mt-3">
                {{notice.body}}
            </p>
            <div class="style-text mt-4">
                <button class="btn btn-light"
                    onclick="document.querySelector('.devnotice').style.display='none';">{{notice.button_text}}</button>
            </div>
        </div>
    </div>
</div>
{% endif %}

<div class="container-fluid bg-light">
    <!--
    <div class="row bg-light p-lg-3 py-3 px-1">
        <div class="col-lg-8">
            <article>
                <h1 class="display-1 style-text-3 ">سوق</h1>
                <p class="style-text">
                    هل تبحث عن عنصر جديد؟ لقد وصلت إلى المكان الصحيح! ستظهر هنا جميع العناصر التي نشرها
                    البائعون. كلما قمت بتصفحها ، كلما تحسنت تجربتك.
                </p>
            </article>
        </div>
        <div class="col-lg-4 d-none d-lg-flex justify-content-center align-items-center">
            <img src="../static/media/undraw_web_devices_re_m8sc.svg" alt="image" style="height: 10rem; width: auto;">
        </div>
    </div>
    -->
    <div class="row bg-dark p-lg-4 p-3 py-4 py-lg-2 shadow">
        <div class="col-lg-5 d-flex align-items-center">
            <article>
                <h1 class="display-4 text-danger style-text-3">اختيار المطورين</h1>
                <hr class="text-light">
                <p class="style-text-2 text-light lead">
                    بعض العناصر المفضلة لدى مطورينا المختارة بعناية خصيصًا لك. استكشف التشكيلة المخصوصة التي
                    حصلت على موافقتهم.
                </p>
            </article>
        </div>
        <div class="horizontal-scroll-div col-lg-7">
            {% for item in items %}
            {% if item.in_developers_pick %}
            <div class="col-lg-4 my-3 d-inline-block mx-lg-2">
                <div class="card border-danger p-1 bg-danger" style="box-shadow: 5px 5px 10px #000;">
                    <div class="card-header style-text-3 bg-danger text-light">
                        عنصر @{{item.username}}
                    </div>
                    <img src="{% url 'shop:get_image' item.firebase_path %}" class="product_image"
                        alt="{{item.product_name}}">
                    <div class="product_details bg-danger">
                        <h4><a href="{% url 'shop:buy' item.id %}"
                                class="text-light text-decoration-none style-text-3 truncate-2-lines"
                                onclick="this.classList.add('disabled');"
                                style="white-space: wrap;">{{item.product_name}}</a></h4>
                        <hr class="text-light">
                        <h4 class="style-text-3 text-light">SAR {{item.product_price}}</h4>
                        <p class="card-text style-text text-light truncate-2-lines" style="white-space: wrap;">
                            {{item.product_description}}
                        </p>
                        <div class="style-text-2">
                            {% if user.username != item.username %}
                            {% if item.id in bought_items %}
                            <a href="{% url 'shop:myOrders' %}" class="btn btn-light my-2"
                                onclick="this.classList.add('disabled');">تم الطلب</a>
                            {% else %}
                            <a href="{% url 'shop:buy' item.id %}" class="btn btn-light text-danger my-2"
                                onclick="this.classList.add('disabled');">عرض العنصر</a>
                            {% endif %}
                            {% if item.id in wishlist %}
                            <button class="btn btn-outline-light add-to-wishlist" data-item-id="{{ item.id }}">
                                <i class="bi bi-star-fill"></i></button>
                            {% else %}
                            <button class="btn btn-outline-light add-to-wishlist" data-item-id="{{ item.id }}">
                                <i class="bi bi-star"></i></button>
                            {% endif %}
                            {% endif %}
                            {% if user.username == 'shahzan' %}
                            <a class="btn btn-outline-light"
                                href="{% url 'shop:remove_from_developers_pick' item.id %}">
                                <i class="bi bi-trash"></i></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="d-none d-lg-flex justify-content-end">
            <i class="bi bi-caret-right-fill text-danger scroll-right scroller"></i>
            <i class="bi bi-caret-left-fill text-danger scroll-left scroller"></i>
        </div>
    </div>
    <div class="row px-md-4 mt-3 p-2">
        <h1 class="display-4 style-text-3">جميع المنتجات</h1>
        <hr>
        <div class="d-flex align-items-center style-text-3">
            <label for="orderby">ترتيب حسب:</label>
            <form action="{% url 'shop:homepage' %}" method="post" class="mx-3 d-flex justify-content-center align-items-center">
                {% csrf_token %}
                <select class="form-control my-2 text-dark shadow" name="orderby" style="cursor: pointer;">
                    <option value="-timestamp">الأحدث</option>
                    <option value="product_price">السعر (من الأدنى إلى الأعلى)</option>
                    <option value="-product_price">السعر (من الأعلى إلى الأدنى)</option>
                    <option value="-ratings">الأفضل تقييمًا</option>
                </select>
                <button type="submit" class="btn btn-dark mx-1 shadow" title="تصفية المنتجات">
                    <i class="bi bi-filter"></i>
                </button>
            </form>
        </div>
    </div>
    <div class="row px-md-4 p-3 mb-5">
        {% for item in page_obj %}
        <div class="col-lg-3 col-md-6 my-2">
            <div class="card card-item p-2 bg-dark" style="box-shadow: 5px 5px 10px #5b5b5b;">
                <div class="card-header style-text-3 bg-dark text-light">
                    عنصر @{{item.username}}
                </div>
                <img src="{% url 'shop:get_image' item.firebase_path %}" class="product_image"
                    alt="{{item.product_name}}">
                <div class="product_details bg-dark">
                    <h4><a href="{% url 'shop:buy' item.id %}"
                            class="text-light text-decoration-none style-text-3 truncate-2-lines"
                            onclick="this.classList.add('disabled');">{{item.product_name}}</a></h4>
                    <hr class="text-light">
                    <h4 class="style-text-3 text-light">SAR {{item.product_price}}</h4>
                    <p class="card-text style-text text-light truncate-3-lines">
                        {{item.product_description}}
                    </p>
                    <p class="style-text">
                        <i class="bi bi-heart-fill lead text-danger"></i>
                        <span class="mx-2 text-light">{{item.ratings}}/5.0 ({{item.num_raters}})</span>
                        <br>
                        <i class="bi bi-bag-fill lead text-primary"></i>
                        <span class="mx-1 text-light">تم شراؤها بواسطة: {{item.num_orders}} مشترٍ(ين)</span>
                    </p>
                    <div class="style-text-2">
                        {% if user.username != item.username %}
                        {% if item.id in bought_items %}
                        <a href="{% url 'shop:myOrders' %}" class="btn btn-light my-2"
                            onclick="this.classList.add('disabled');">تم الطلب</a>
                        {% else %}
                        <a href="{% url 'shop:buy' item.id %}" class="btn btn-light my-2"
                            onclick="this.classList.add('disabled');">عرض العنصر</a>
                        {% endif %}
                        {% if item.id in wishlist %}
                        <button class="btn btn-outline-light add-to-wishlist" data-item-id="{{ item.id }}">
                            <i class="bi bi-star-fill"></i></button>
                        {% else %}
                        <button class="btn btn-outline-light add-to-wishlist" data-item-id="{{ item.id }}">
                            <i class="bi bi-star"></i></button>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
                <div class="card-footer style-text-3 bg-dark text-light">
                    نُشِر في {{item.timestamp}}
                </div>
            </div>
        </div>
        {% empty %}
        <div class="row bg-dark p-4 shadow m-0">
            <div
                class="display-6 style-text-3 col-md-6 text-light d-flex justify-content-center align-items-center mb-3">
                لا تتوفر منتجات حاليًا.</div>
            <div class="col-md-6">
                <img src="../static/media/undraw_online_re_x00h.svg" alt="image" width="100%" height="auto">
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row bg-dark p-lg-4 p-3 shadow">
        <div class="horizontal-scroll-div col-lg-7">
            {% for item in suggestions %}
            <div class="col-lg-4 my-3 d-inline-block mx-lg-2">
                <div class="card border-success p-1 bg-success" style="box-shadow: 5px 5px 10px #000;">
                    <div class="card-header style-text-3 bg-success text-light">
                        عنصر @{{item.username}}
                    </div>
                    <img src="{% url 'shop:get_image' item.firebase_path %}" class="product_image"
                        alt="{{item.product_name}}">
                    <div class="product_details bg-success">
                        <h4><a href="{% url 'shop:buy' item.id %}"
                                class="text-light text-decoration-none style-text-3 truncate-2-lines"
                                onclick="this.classList.add('disabled');"
                                style="white-space: wrap;">{{item.product_name}}</a></h4>
                        <hr class="text-light">
                        <h4 class="style-text-3 text-light">SAR {{item.product_price}}</h4>
                        <p class="card-text style-text text-light truncate-2-lines" style="white-space: wrap;">
                            {{item.product_description}}
                        </p>
                        <p class="style-text">
                            <i class="bi bi-heart-fill lead text-danger"></i>
                            <span class="mx-2 text-light">{{item.ratings}}/5.0 ({{item.num_raters}})</span>
                            <br>
                            <i class="bi bi-bag-fill lead text-light"></i>
                            <span class="mx-1 text-light">تم شراؤها بواسطة: {{item.num_orders}} مشترٍ(ين)</span>
                        </p>
                        <div class="style-text-2">
                            {% if user.username != item.username %}
                            {% if item.id in bought_items %}
                            <a href="{% url 'shop:myOrders' %}" class="btn btn-light my-2"
                                onclick="this.classList.add('disabled');">تم الطلب</a>
                            {% else %}
                            <a href="{% url 'shop:buy' item.id %}" class="btn btn-light text-success my-2"
                                onclick="this.classList.add('disabled');">عرض العنصر</a>
                            {% endif %}
                            {% if item.id in wishlist %}
                            <button class="btn btn-outline-light add-to-wishlist" data-item-id="{{ item.id }}">
                                <i class="bi bi-star-fill"></i></button>
                            {% else %}
                            <button class="btn btn-outline-light add-to-wishlist" data-item-id="{{ item.id }}">
                                <i class="bi bi-star"></i></button>
                            {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-footer style-text-3 bg-success text-light" style="white-space: wrap;">
                        نُشِر في <br> {{item.timestamp}}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-lg-5 d-flex align-items-center">
            <article class="px-lg-4 mt-3 mt-lg-0">
                <h1 class="display-4 text-success style-text-3"><i class="bi bi-bookmark-heart"></i> توصيات</h1>
                <hr class="text-light">
                <p class="style-text-2 text-light lead">منتجات مماثلة استنادًا إلى اهتماماتك قد تعجبك...
                </p>
            </article>
        </div>
        <div class="d-none d-lg-flex justify-content-start px-4">
            <i class="bi bi-caret-right-fill text-success scroll-right scroller"></i>
            <i class="bi bi-caret-left-fill text-success scroll-left scroller"></i>
        </div>
    </div>
</div>

<div class="pagination d-flex justify-content-center align-items-center py-4 bg-light">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a class="mx-1 btn btn-dark" title="الصفحة الأولى" href="?page=1"><i class="bi bi-chevron-double-left"></i></a>
        <a class="mx-1 btn btn-dark" title="الصفحة السابقة" href="?page={{ page_obj.previous_page_number }}"><i
                class="bi bi-chevron-left"></i></a>
        {% endif %}

        <span class="current mx-3 style-text-2">
            الصفحة {{ page_obj.number }} من {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
        <a class="mx-1 btn btn-dark" title="الصفحة التالية" href="?page={{ page_obj.next_page_number }}"
            onclick="this.classList.add('disabled');"><i class="bi bi-chevron-right"></i></a>
        <a class="mx-1 btn btn-dark" title="الصفحة الأخيرة" href="?page={{ page_obj.paginator.num_pages }}"
            onclick="this.classList.add('disabled');"><i class="bi bi-chevron-double-right"></i></a>
        {% endif %}
    </span>
</div>

<input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">

<script>
    localStorage.clear()
    var csrftoken = $("[name=csrfmiddlewaretoken]").val();
    $('.add-to-wishlist').on('click', function () {
        var icon = $(this).find('i');
        var item_id = $(this).data('item-id');
        if (icon.hasClass('bi bi-star')) {
            // Add item to wishlist
            $.ajax({
                url: '/addToWishlist/' + item_id,
                type: 'POST',
                dataType: 'json',
                headers: { 'X-CSRFToken': csrftoken },
                success: function (data) {
                    icon.removeClass('bi bi-star').addClass('bi bi-star-fill');
                },
                error: function (xhr, errmsg, err) {
                    alert('فشلت إضافة العنصر إلى قائمة أمنياتك');
                }
            });
        } else if (icon.hasClass('bi bi-star-fill')) {
            // Remove item from wishlist
            $.ajax({
                url: '/removeFromWishlist/' + item_id,
                type: 'POST',
                dataType: 'json',
                headers: { 'X-CSRFToken': csrftoken },
                success: function (data) {
                    icon.removeClass('bi bi-star-fill').addClass('bi bi-star');
                },
                error: function (xhr, errmsg, err) {
                    alert('فشلت إزالة العنصر من قائمة أمنياتك');
                }
            });
        }
    });

    $(window).on('scroll', function () {
        $('.card-item').each(function () {
            var cardTop = $(this).offset().top;
            var windowHeight = $(window).height();
            var scrollTop = $(window).scrollTop();

            // Check if the bottom of the card is above the viewport and the top of the card is below the viewport
            var isAboveViewport = (cardTop + $(this).outerHeight()) < scrollTop;
            var isBelowViewport = cardTop > (scrollTop + windowHeight);

            // If the card is partially or fully visible in the viewport
            if (!isAboveViewport && !isBelowViewport) {
                $(this).removeClass('hidden');
            } else {
                $(this).addClass('hidden');
            }
        });
    });

    // Initially reveal the first 4 cards
    $(document).ready(function () {
        $('.card-item.hidden:lt(4)').removeClass('hidden');
    });
</script>

{% endblock %}