{% load static %}
<!DOCTYPE html>
<html lang="ar" dir="rtl"> <!--lang="ar" dir="rtl"-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- style.css -->
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <!-- Bootstrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!-- Bootstrap Icons CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <!-- Bootstrap Script CDN -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    <!-- Google font: Kalnia, Wix Madefor Display, Raleway, Półtawski Nowy, Trochut -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Kalnia:wght@100..700&family=Poltawski+Nowy:ital,wght@0,400..700;1,400..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Trochut:ital,wght@0,400;0,700;1,400&family=Wix+Madefor+Display:wght@400..800&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap"
        rel="stylesheet">

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- Animations -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    <!-- Google AdSense -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8650665056742555"
        crossorigin="anonymous"></script>

    <!-- LOGO -->
    <link rel="icon" type="image/png" href="../static/media/logo/svg/logo-no-background.svg">

    <!-- Include Cropper.js CSS via CDN -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" rel="stylesheet">

    <!-- Include Cropper.js JS via CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>


    {% block title %}
    <title>متجر جامعة الملك خالد غير الرسمي</title>
    {% endblock %}
</head>

<body>
    <div class="loadingScreen">
        <div class="container d-flex justify-content-center align-items-center">
            <div class="row">
                <div class="col-12">
                    <div class="loader"></div>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary p-3">
        <div class="container-fluid" style="min-height: 0;">
            <a class="style-text-4" href="{% url 'shop:homepage' %}"
                style="color: #f7f7f7; text-decoration: none; font-size: 2rem;"
                title="تطبيق التجارة الإلكترونية لطلاب جامعة الملك خالد">حراج <span class="style-text-4"
                    style="font-size: 1.6rem;">الجامعي</span>
            </a>
            <div class="d-block d-lg-none mt-1 style-text">
                {% if user.is_authenticated %}
                <a href="{% url 'shop:logout_user' %}" class="text-light text-decoration-none">
                    <i class="bi bi-door-open lead"></i> <span class="align-middle">تسجيل الخروج</span>
                </a>
                {% else %}
                <a href="{% url 'shop:login_user' %}" class="text-light text-decoration-none">
                    <i class="bi bi-person lead"></i> <span class="align-middle">تسجيل الدخول</span>
                </a>
                {% endif %}
            </div>
            <div class="collapse navbar-collapse style-text" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'shop:index' %}"><i
                                class="bi bi-house-fill lead mx-2"></i> الصفحة الرئيسية </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'shop:myOrders' %}"><i
                                class="bi bi-receipt lead mx-2"></i> طلباتي </a>
                    </li>
                    <li class="nav-item dropdown" style="cursor: pointer;">
                        <span class="nav-link dropdown-toggle active" data-bs-toggle="dropdown" aria-expanded="false"><i
                                class="bi bi-cash lead mx-2"></i> بيع </span>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'shop:new_listing' %}">بيع منتج جديد</a></li>
                            <li><a class="dropdown-item" href="{% url 'shop:my_shop' %}">منتجاتي</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown" style="cursor: pointer;">
                        <span class="nav-link dropdown-toggle active notification_panel" data-bs-toggle="dropdown"
                            aria-expanded="false"><i class="bi bi-person-circle lead mx-2"></i> الحساب
                            {% if notifications %}<span class="notification_badge"></span>{% endif %}</span>
                        <ul class="dropdown-menu">
                            {% if user.is_authenticated %}
                            <li class="mx-3">
                                <div class="style-text">مسجل الدخول كـ <strong>{{user.username}}</strong></div>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{% url 'shop:wishlist' %}"> قائمة الرغبات</a></li>
                            <li><a class="dropdown-item" href="{% url 'shop:notifications' %}"> الإشعارات
                                    {% if notifications %}
                                    <span class="bg-danger rounded text-light style-text-2 p-1 mx-1">
                                        جديد</span>
                                    {% endif %}</a></li>
                            <li><a class="dropdown-item" href="{% url 'shop:profile' %}"> الإعدادات</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{% url 'shop:toggleLanguage' %}"><i
                                        class="bi bi-globe lead mx-2"></i> ع / En</a></li>
                            <li><a class="dropdown-item" href="{% url 'shop:logout_user' %}"><i
                                        class="bi bi-door-open-fill lead mx-2 text-danger"></i> تسجيل الخروج</a></li>
                            {% else %}
                            <li><a class="dropdown-item" href="{% url 'shop:toggleLanguage' %}"><i
                                        class="bi bi-globe lead mx-2"></i> ع / En</a></li>
                            <li><a class="dropdown-item" href="{% url 'shop:login_user' %}"><i
                                        class="bi bi-door-open-fill lead mx-2 text-success"></i> تسجيل الدخول</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    <li>
                        <div class="vertical-line d-none d-lg-block"></div>
                    </li>
                    <li class="nav-item mt-2 mx-1">
                        <form action="{% url 'shop:search_item' %}"
                            class="d-flex justify-content-center align-items-center style-text-2" method="post">
                            {% csrf_token %}
                            <input type="text" class="form-control mx-2" placeholder="البحث عن منتج"
                                aria-label="البحث عن منتج" aria-describedby="basic-addon2" name="search">
                            <input type="submit" class="btn btn-outline-light lead" value="بحث"
                                onclick="this.classList.add('disabled');">
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="d-block d-lg-none mynavbar navbar navbar-expand-lg mt-2">
        <div class="mx-2 style-text">
            <button class="btn btn-primary shadow mb-3" id="searchButton" style="text-decoration: none; height: 2.6rem;"
                onclick="openModal()" disabled>
                <i class="bi bi-search"></i> <span class="align-middle">بحث</span></button>
            <a class="btn btn-primary shadow mb-3 notification_panel" style="text-decoration: none; height: 2.6rem;"
                href="{% url 'shop:notifications' %}">
                <i class="bi bi-chat-left-dots-fill"></i> الإشعارات
                {% if notifications %}
                <span class="notification_badge animate__animated animate__headShake"></span>
                {% endif %}</a>
            <a class="btn btn-primary shadow mb-3" style="text-decoration: none; height: 2.6rem;"
                href="{% url 'shop:wishlist' %}">
                <i class="bi bi-bag"></i> <span class="align-middle">قائمة الرغبات</span></a>
            <a class="btn btn-primary shadow mb-3" style="text-decoration: none; height: 2.6rem;"
                href="{% url 'shop:toggleLanguage' %}">
                <i class="bi bi-globe"></i> <span class="align-middle">English</span></a>
            <a class="btn btn-primary shadow mb-3" style="text-decoration: none; height: 2.6rem; margin-left: 0.7rem;"
                href="{% url 'shop:new_listing' %}">
                <i class="bi bi-cart-plus-fill"></i> <span class="align-middle">بيع منتج جديد</span></a>
        </div>
    </div>


    <div class="d-lg-none navbar navbar-expand-lg bg-primary fixed-bottom container-fluid py-0 
        border border-primary rounded-top d-block animate__animated px-2" id="hiddenDiv">
        <div class="row pt-2">
            <a class="col-3 text-center text-light text-decoration-none" href="{% url 'shop:homepage' %}">
                <p class="style-text-2"><i class="bi bi-house-fill" style="font-size: 1.7rem;"></i> <br> الرئيسية</p>
            </a>
            <a class="col-3 text-center text-light text-decoration-none shop_panel" href="{% url 'shop:my_shop' %}">
                <p class="style-text-2"><i class="bi bi-shop" style="font-size: 1.7rem;"></i> <br>
                    متجري
                    {% if new_orders %}
                    <span class="shop_badge animate__animated animate__headShake">{{new_orders}}</span>
                    {% endif %}
                </p>
            </a>
            <a class="col-3 text-center text-light text-decoration-none" href="{% url 'shop:myOrders' %}">
                <p class="style-text-2"><i class="bi bi-receipt" style="font-size: 1.7rem;"></i> <br> طلباتي</p>
            </a>
            <a class="col-3 text-center text-light text-decoration-none" href="{% url 'shop:profile' %}">
                <p class="style-text-2"><i class="bi bi-person-circle" style="font-size: 1.7rem;"></i> <br> الحساب</p>
            </a>
        </div>
    </div>

    {% block body %}
    {% endblock %}

    <svg class="animatedSVG" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMin slice"
        viewBox="24 105 156 95">
        <defs>
            <style type="text/css">
                @keyframes rotate {
                    100% {
                        transform: rotate(360deg)
                    }
                }

                .top-outer {
                    transform-origin: 63px 69px;
                    animation: rotate 30s linear infinite;
                }

                .top-inner {
                    transform-origin: 73px 69px;
                    animation: rotate 20s linear infinite;
                }

                .bottom-outer {
                    transform-origin: 144px 222px;
                    animation: rotate 30s linear infinite;
                }

                .bottom-inner {
                    transform-origin: 164px 422px;
                    animation: rotate 20s linear infinite;
                }
            </style>
        </defs>
        <rect x="0" y="0" width="100" height="100" fill="#f7f7f7" />
        <path class="top-outer" fill="#EDEAE0" stroke="#EDEAE0" stroke-width="1"
            d="M68 1c23,0 67,17 69,39 4,38 5,52 -5,69 -20,36 -68,46 -120,-9 -27,-28 -7,-101 56,-99z" />
        <path class="top-inner" fill="#EDEAE0" stroke="#EDEAE0" stroke-width="1"
            d="M69 22c33,-7 52,21 54,37 3,26 -1,28 -8,40 -15,25 -48,25 -85,-14 -19,-20 -4,-53 39,-63z" />
        <path class="bottom-outer" fill="#EDEAE0" stroke="#EDEAE0" stroke-width="1"
            d="M158 158c30,13 56,50 44,75 -9,18 -22,46 -42,55 -20,10 -48,2 -73,-19 -29,-25 -27,-55 -9,-79 17,-22 43,-48 80,-32z" />
        <path class="bottom-inner" fill="#EDEAE0" stroke="#EDEAE0" stroke-width="1"
            d="M136 180c32,-9 45,13 46,29 3,27 8,29 0,42 -14,25 -52,24 -79,0 -21,-18 -2,-61 33,-71z" />
    </svg>

    <footer class="text-light text-center py-2 bg-primary">
        <p class="style-text">&copy; 2024 جميع الحقوق محفوظة.</p>
    </footer>
    <script src="{% static 'script.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" async></script>

    <!-- Firebase -->
    <script type="module">
        // Import the functions you need from the SDKs you need
        import { initializeApp } from "https://www.gstatic.com/firebasejs/10.9.0/firebase-app.js";
        import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.9.0/firebase-analytics.js";
        // TODO: Add SDKs for Firebase products that you want to use
        // https://firebase.google.com/docs/web/setup#available-libraries

        // Your web app's Firebase configuration
        // For Firebase JS SDK v7.20.0 and later, measurementId is optional
        const firebaseConfig = {
            apiKey: "AIzaSyBSCpcctpJNIr26-D73N9-M6Jhxe3pZnk0",
            authDomain: "kku-unofficial-store.firebaseapp.com",
            projectId: "kku-unofficial-store",
            storageBucket: "kku-unofficial-store.appspot.com",
            messagingSenderId: "920854395385",
            appId: "1:920854395385:web:2c52cbe92d41289d912528",
            measurementId: "G-2T7WF92CT8"
        };

        // Initialize Firebase
        const app = initializeApp(firebaseConfig);
        const analytics = getAnalytics(app);


        var anchors = document.querySelectorAll('a');
        anchors.forEach(function (anchor) {
            anchor.addEventListener('click', function (event) {
                event.preventDefault();
                anchor.classList.add('disabled');
                document.querySelector('.loadingScreen').style.display = "block";
                window.location.href = anchor.href;
            });
        });

    </script>

    <!--
    <script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js"
        data-id="kkuunofficialstore" data-description="Support me on Buy me a coffee!" data-color="#0d6efd"
        data-position="Right" data-x_margin="18" data-y_margin="18"></script>
        -->
</body>

</html>