{% extends 'ar/layout.html' %}
{% load static %}

{% block title %}
<title>متجر {{request.user.first_name}}</title>
{% endblock %}

{% block body %}
<div id="myModal" class="container-fluid slideInDown">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-6">
            <article>
                <h1 class="style-text-3">هل ترغب في تجديد العنصر؟</h1>
                <p class="lead style-text">قم بتجديد منتجك لجعله متاحًا مرة أخرى لعملائك</p>
                <form class="redirect_link" action="" method="post">
                    {% csrf_token %}
                    <div class="row mb-4 mt-4 style-text">
                        <input type="hidden" name="item_id" value="" class="item_id">
                        <div class="style-text"><strong>اختر خطتك:</strong></div>
                        <div class="form-check col-4 m-2">
                            <input class="form-check-input border-primary" type="radio" name="flexRadioDefault"
                                value="14" checked>
                            <label class="form-check-label" for="flexRadioDefault">
                                نشر لمدة 14 يومًا <br> (مجاناً)
                            </label>
                        </div>
                        <div class="form-check col-4 m-2">
                            <input class="form-check-input border-primary" type="radio" name="flexRadioDefault"
                                value="28">
                            <label class="form-check-label" for="flexRadioDefault">
                                نشر لمدة 28 يومًا <br> (مجاناً تماماً)
                            </label>
                        </div>
                        <div class="form-check col-4 m-2">
                            <input class="form-check-input border-primary" type="radio" name="flexRadioDefault"
                                value="29">
                            <label class="form-check-label" for="flexRadioDefault">
                                تجديد للأبد!!! <br> (1,00000,000000000000,00000000000000 $)
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-outline-primary">نعم، تابع!</button>
                </form>
                <button class="btn btn-outline-danger mt-2" onclick="closeModal()">لا، أعيدني للوراء</button>
            </article>
        </div>
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <img class="widthlock mt-4" src="{% static 'media/undraw_access_account_re_8spm.svg' %}" alt="صورة">
        </div>
    </div>
</div>
{% if not first_visit %}
<div class="notice">
    <div class="card p-md-3 p-2 mx-4 col-md-6 bg-light shadow animate__animated animate__zoomIn">
        <div class="card-body">
            <h1 class="style-text-3">هذا متجرك</h1>
            <hr>
            <p class="style-text-2">
                سيظهر كل ما تبيعه على هذه الصفحة. هذه هي الصفحة التي ستزورها بشكل متكرر لمعرفة عدد الطلبات التي تلقيتها وأشياء من هذا القبيل...
            </p>
            <div class="style-text mt-4">
                <button class="btn btn-primary" onclick="document.querySelector('.notice').style.display='none';">رائع!</button>
            </div>
        </div>
    </div>
</div>
{% endif %}
<div class="container" style="min-height: 100vh;">
    <div class="row mx-3 mx-md-0" data-masonry='{"percentPosition": true }'>
        {% for item in items %}
        <div class="col-sm-2 col-xs-2 col-md-6 col-lg-3 g-3">
            <div class="shadow fadeInUp card mb-3 d-flex align-items-center">
                {% if item.new_orders != 0 %}
                <div class="card-header style-text" style="width: 100%;"><a
                        href="{% url 'shop:order_details' item.id %}" class="text-danger lead">{{item.new_orders}} طلب جديد!</a></div>
                {% else %}
                <div class="card-header style-text text-muted" style="width: 100%;">لا يوجد طلبات جديدة</div>
                {% endif %}
                <img class="heightlock" src="{% url 'shop:get_image' item.firebase_path %}" class="card-img-top"
                    alt="{{item.product_name}}">
                <div class="card-body mt-2" style="width: 100%;">
                    <h5 class="card-title text-primary" id="itemModal{{ item.id }}"><a
                            href="{% url 'shop:buy' item.id %}"
                            class="text-primary style-text">{{item.product_name}}</a></h5>
                    <hr>
                    <h5 class="card-title style-text">ريال {{item.product_price}}</h5>
                    {% if item.is_expired == True %}
                    <button class="btn btn-primary" onclick="openModalParameter('{{item.id}}')">تجديد</button>
                    <a href="{% url 'shop:delete_listing' item.id %}" class="btn btn-danger delete-link">حذف</a>
                    {% else %}
                    <p class="text-muted style-text">انقر هنا لإدخال رمز المشتري</p>
                    <a href="{% url 'shop:confirmPurchase' item.id %}" class="btn btn-outline-primary">أدخل الرمز</a>
                    <a href="{% url 'shop:delete_listing' item.id %}"
                        class="btn btn-outline-danger delete-link">حذف</a>
                    {% endif %}
                </div>
                {% if item.is_expired %}
                <div class="card-footer style-text text-light bg-danger" style="width: 100%;">انتهى العنصر</div>
                {% else %}
                <div class="card-footer style-text text-light bg-primary" style="width: 100%;">ينتهي العنصر في:
                    <br>{{item.expiry}}</div>
                {% endif %}
            </div>
        </div>
        {% empty %}
        <div class="row d-none d-lg-flex align-items-center p-4" style="min-height: 90vh;">
            <div class="col-md-7 animate__animated animate__tada">
                <h1 class="style-text-3">يبدو متجرك فارغًا...</h1>
                <p class="text-muted style-text">ليس لديك شيء للبيع</p>
            </div>
            <div class="col-md-5 d-flex justify-content-center align-items-center">
                <img class="widthlock" src="{% static 'media/undraw_void_-3-ggu.svg' %}" alt="فراغ">
            </div>
        </div>
        <div class="container d-flex d-lg-none justify-content-center align-items-center" style="min-height: 50vh;">
            <div class="col-12 col-md-5">
                <div class="card shadow animate__animated animate__zoomIn">
                    <img class="widthlock p-2" src="{% static 'media/undraw_void_-3-ggu.svg' %}" alt="فارغ">
                    <div class="card-body">
                        <article>
                            <h1 class="style-text-3 my-3">يبدو متجرك فارغًا...</h1>
                            <hr>
                            <p class="text-muted style-text">لم تقم بوضع أي شيء للبيع</p>
                            <a href="{% url 'shop:new_listing' %}" class="btn btn-outline-primary style-text-2">بيع شيء</a>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".delete-link").click(function (e) {
            e.preventDefault();
            var confirmation = confirm("هل أنت متأكد أنك تريد حذف هذا العنصر؟");
            if (confirmation) {
                window.location.href = $(this).attr("href");
            }
        });
    });
    $('.myshop-bar').addClass('this-active');
</script>

{% endblock %}
