{% extends 'ar/layout.html' %}
{% load static %}

{% block title %}
<title>صفحة تفاصيل الطلب</title>
{% endblock %}

{% block body %}

<div class="container-fluid bg-light" style="min-height: 100vh;">
    <div class="row p-2 py-4 p-md-4">
        <h5 class="display-4 style-text-3">طلبات العملاء الجدد</h5>
        <hr>
        <p class="style-text-2 text-danger">
            <strong>لا تنسى طلب رمز المصادقة المكتوب، وإلا سيُعتبر الطلب غير مسلم وقد يتلقى حسابك عقوبة.</strong>
        </p>
        {% for order in orders %}
        <div class="card col-md-4 shadow">
            <div class="card-body">
                <h1 class="style-text-3">{{order.0.user.first_name}} {{order.0.user.last_name}}</h1>
                <hr>
                <p class="style-text">
                    <span class="text-muted">اسم المستخدم:</span> {{order.0.user.username}} <br>
                    <span class="text-muted">العنوان:</span> الغرفة {{order.0.room_no}} بناء {{order.0.building_code}} <br>
                    <span class="text-muted">الهاتف:</span> {{order.0.whatsapp}}
                </p>
                <p class="style-text">
                    <span class="text-muted">الكمية:</span> {{order.2}} <br>
                    <span class="text-muted">ملاحظة:</span> {{order.3}}
                </p>
                {% if order.1 == "accepted" %}
                <a href="https://wa.me/{{order.whatsapp}}" class="btn btn-outline-dark my-2"><i class="bi bi-whatsapp"></i> رسالة</a>
                <a href="{% url 'shop:confirmPurchase' item.id %}" class="btn btn-dark my-2"><i class="bi bi-receipt"></i> إدخال رمز المصادقة</a>
                {% elif order.1 == "requested" %}
                <a href="{% url 'shop:acceptOrder' item.id order.0.user.username %}" class="btn btn-dark">قبول الطلب</a>
                {% endif %}
                <a href="{% url 'shop:rejectOrder' item.id order.0.user.username %}" class="btn btn-danger">رفض الطلب</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}