{% extends 'ar/layout.html' %}
{% load static %}

{% block title %}
<title>تمكين الإشعارات</title>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row d-none d-lg-flex align-items-center p-4" style="min-height: 80vh;">
        <div class="col-md-7 animate__animated animate__bounceIn">
            <h1 class="style-text-3">الرجاء تمكين الإشعارات في الصفحة التالية...</h1>
            <hr>
            <p class="text-muted style-text">نحن نستخدم الإشعارات لإبقائك على اطلاع حول طلبك. إذا كنت بائعًا أو ترغب في أن تصبح واحدًا، فمن الأساسي تمكين الإشعارات بحيث يمكنك تلقي إشعارات حول الطلبات الجديدة.</p>
            <a href="{% url 'shop:enableNotifications' %}" class="btn btn-outline-primary style-text-2">المتابعة</a>
            <a href="{% url 'shop:index' %}" class="btn btn-outline-danger style-text-2">لاحقًا</a>
        </div>
        <div class="col-md-5 d-flex justify-content-center align-items-center">
            <img class="widthlock" src="{% static 'media/undraw_reminders_re_gtyb.svg' %}" alt="قائمة الرغبات">
        </div>
    </div>
    <div class="container d-flex d-lg-none justify-content-center align-items-center" style="min-height: 50vh;">
        <div class="col-12 col-md-5">
            <div class="card shadow animate__animated animate__zoomIn">
                <img class="widthlock p-2" src="{% static 'media/undraw_reminders_re_gtyb.svg' %}" alt="empty">
                <div class="card-body">
                    <article>
                        <h1 class="style-text-3 my-3">الرجاء تمكين الإشعارات في الصفحة التالية...</h1>
                        <hr>
                        <p class="text-muted style-text">نحن نستخدم الإشعارات لإبقائك على اطلاع حول طلبك. إذا كنت بائعًا أو ترغب في أن تصبح واحدًا، فمن الأساسي تمكين الإشعارات بحيث يمكنك تلقي إشعارات حول الطلبات الجديدة.</p>
                        <a href="{% url 'shop:enableNotifications' %}" class="btn btn-outline-primary style-text-2">المتابعة</a>
                        <a href="{% url 'shop:index' %}" class="btn btn-outline-danger style-text-2">لاحقًا</a>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
