{% extends 'ar/layout.html' %}
{% load static %}

{% block title %}
<title>تمكين الإشعارات</title>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row p-2 py-4 p-md-4 d-flex justify-content-center align-items-center" style="min-height: 90vh;">
        <div class="col-md-7 animate__animated animate__bounceIn">
            <h1 class="style-text-3 display-4">يرجى تمكين الإشعارات في الصفحة التالية...</h1>
            <hr>
            <p class="lead style-text">قم بتمكين الإشعارات الفورية لتبقى محدّثًا بطلباتك ومبيعاتك.</p>
            <a href="{% url 'shop:enableNotifications' %}" class="btn btn-dark style-text-2">المتابعة</a>
            <a href="{% url 'shop:index' %}" class="btn btn-danger style-text-2">لاحقًا</a>
        </div>
        <div class="col-md-5 d-flex justify-content-center align-items-center">
            <img class="widthlock" src="../static/media/undraw_push_notifications_re_t84m.svg" alt="صورة">
        </div>
    </div>
</div>
{% endblock %}
