{% extends 'ar/layout.html' %}
{% load static %}

{% block title %}
<title>عملية الشراء ناجحة</title>
{% endblock %}

{% block body %}

<div class="container d-flex justify-content-center align-items-center" style="min-height: 90vh;">
    <div class="row slideInRight bg-dark text-light p-3 shadow" style="width: 60%;">
        <h1 class="style-heading">تم بيع العنصر بنجاح!</h1>
        <p class="style-text-2 lead">
            تم بيع {{item.product_name}} لـ {{user.first_name}} {{user.last_name}} ({{user.username}}) بمبلغ {{item.product_price}} ريال سعودي. تم زيادة إجمالي عدد المبيعات لهذا المنتج بمقدار 1.
        </p>
        <form action="{% url 'shop:delete_listing' item.id %}">
            {% csrf_token %}
            <input type="submit" class="btn btn-danger my-2" value="حذف المنتج"
                onclick="this.disabled=true; this.value='جاري الإرسال...'; this.form.submit();">
            <a href="{% url 'shop:my_shop' %}" class="btn btn-outline-light">الاحتفاظ بالمنتج</a>
        </form>
        <p class="style-text-2 my-3"><strong>ملاحظة: </strong>الرجاء حذف المنتج في حالة نفاد الكمية لتجنب استلام أي طلبيات أخرى.</p>
    </div>
</div>

{% endblock %}
