{% extends 'ar/layout.html' %}
{% load static %}

{% block title %}
{% if user.is_authenticated %}
<title>مرحبًا، {{request.user.first_name}}!</title>
{% else %}
<title>مرحبًا، مستخدم!</title>
{% endif %}
{% endblock %}

{% block body %}
<div class="container-fluid bg-light">
    <div class="row px-md-4 mt-3 p-2">
        <h1 class="display-4 style-text-3">جميع المنتجات</h1>
        <hr>
    </div>
    <div class="row px-md-4 p-2 mb-5">
        {% for item in items %}
        <div class="col-lg-3 col-md-6 my-2">
            <div class="card card-item p-2 bg-dark" style="box-shadow: 5px 5px 10px #5b5b5b;">
                <div class="card-header style-text-3 bg-dark text-light">
                    منتج @{{item.username}}
                </div>
                <img src="{% url 'shop:get_image' item.firebase_path %}" class="product_image"
                    alt="{{item.product_name}}">
                <div class="product_details bg-dark">
                    <h4><a href="{% url 'shop:buy' item.id %}"
                            class="text-light text-decoration-none style-text-3 truncate-2-lines"
                            onclick="this.classList.add('disabled');">{{item.product_name}}</a></h4>
                    <hr class="text-light">
                    <h4 class="style-text-3 text-light">SAR {{item.product_price}}</h4>
                    <p class="card-text style-text text-light truncate-3-lines">
                        {{item.product_description}}
                    </p>
                    <p class="style-text">
                        <i class="bi bi-heart-fill lead text-danger"></i>
                        <span class="mx-2 text-light">{{item.ratings}}/5.0 ({{item.num_raters}})</span>
                        <br>
                        <i class="bi bi-bag-fill lead text-primary"></i>
                        <span class="mx-1 text-light">تم الشراء بواسطة: {{item.num_orders}} مشترٍ</span>
                    </p>
                    <div class="style-text-2">
                        {% if user.username != item.username %}
                        {% if item.id in bought_items %}
                        <a href="{% url 'shop:myOrders' %}" class="btn btn-light my-2"
                            onclick="this.classList.add('disabled');">مطلوب</a>
                        {% else %}
                        <a href="{% url 'shop:buy' item.id %}" class="btn btn-light my-2"
                            onclick="this.classList.add('disabled');">عرض المنتج</a>
                        {% endif %}
                        {% if item.id in wishlist %}
                        <button class="btn btn-outline-light add-to-wishlist" data-item-id="{{ item.id }}">
                            <i class="bi bi-star-fill"></i></button>
                        {% else %}
                        <button class="btn btn-outline-light add-to-wishlist" data-item-id="{{ item.id }}">
                            <i class="bi bi-star"></i></button>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
                <div class="card-footer style-text-3 bg-dark text-light">
                    نُشر في {{item.timestamp}}
                </div>
            </div>
        </div>
        {% empty %}
        <div class="row bg-dark p-4 shadow m-0">
            <div
                class="display-6 style-text-3 col-md-6 text-light d-flex justify-content-center align-items-center mb-3">
                لا توجد نتائج، حاول تغيير استعلام البحث قليلًا.</div>
            <div class="col-md-6">
                <img src="../static/media/undraw_online_re_x00h.svg" alt="image" width="100%" height="auto">
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">

<script>
    localStorage.clear()
    var csrftoken = $("[name=csrfmiddlewaretoken]").val();
    $('.add-to-wishlist').on('click', function () {
        var icon = $(this).find('i');
        var item_id = $(this).data('item-id');
        if (icon.hasClass('bi bi-star')) {
            // إضافة المنتج إلى قائمة الأمنيات
            $.ajax({
                url: '/addToWishlist/' + item_id,
                type: 'POST',
                dataType: 'json',
                headers: { 'X-CSRFToken': csrftoken },
                success: function (data) {
                    icon.removeClass('bi bi-star').addClass('bi bi-star-fill');
                },
                error: function (xhr, errmsg, err) {
                    alert('فشلت عملية إضافة المنتج إلى قائمة الأمنيات الخاصة بك');
                }
            });
        } else if (icon.hasClass('bi bi-star-fill')) {
            // إزالة المنتج من قائمة الأمنيات


            $.ajax({
                url: '/removeFromWishlist/' + item_id,
                type: 'POST',
                dataType: 'json',
                headers: { 'X-CSRFToken': csrftoken },
                success: function (data) {
                    icon.removeClass('bi bi-star-fill').addClass('bi bi-star');
                },
                error: function (xhr, errmsg, err) {
                    alert('فشلت عملية إزالة المنتج من قائمة الأمنيات الخاصة بك');
                }
            });
        }
    });

    $(window).on('scroll', function () {
        $('.card-item').each(function () {
            var cardTop = $(this).offset().top;
            var windowHeight = $(window).height();
            var scrollTop = $(window).scrollTop();

            // التحقق مما إذا كانت أسفل البطاقة تقع أعلى العرض القابل للعرض وأعلى البطاقة تقع أدنى العرض القابل للعرض
            var isAboveViewport = (cardTop + $(this).outerHeight()) < scrollTop;
            var isBelowViewport = cardTop > (scrollTop + windowHeight);

            // إذا كانت البطاقة مرئية جزئيًا أو بالكامل في العرض القابل للعرض
            if (!isAboveViewport && !isBelowViewport) {
                $(this).removeClass('hidden');
            } else {
                $(this).addClass('hidden');
            }
        });
    });

    // إظهار البطاقات الأولى 4 في البداية
    $(document).ready(function () {
        $('.card-item.hidden:lt(4)').removeClass('hidden');
    });
</script>

{% endblock %}
