{% extends 'ar/layout.html' %}
{% load static %}

{% block body %}

{% if message %}
<div class="notice">
    <div class="card p-md-3 p-2 mx-4 col-md-6 bg-dark shadow animate__animated animate__zoomIn">
        <div class="card-body">
            <h1 class="style-text-3 text-light">عفوًا..!</h1>
            <p class="style-text-2 text-light">
                {{message}}
            </p>
            <div class="style-text mt-4">
                <button class="btn btn-light"
                    onclick="document.querySelector('.notice').style.display='none';">حسنًا</button>
            </div>
        </div>
    </div>
</div>
{% endif %}

<main>
    <div class="container-fluid bg-light">
        <div class="row bg-light p-md-3 py-3 px-1">
            <div class="col-md-8">
                <article>
                    <h1 class="display-1 style-text-3 ">التسجيل</h1>
                    <p class="style-text">
                        هل ليس لديك حساب وتريد إنشاء واحد؟ هذه هي الصفحة الصحيحة التي تبحث عنها.
                        قم بإنشاء حساب جديد في خطوات بسيطة.
                    </p>
                </article>
            </div>
            <div class="col-md-4 d-none d-md-flex justify-content-center align-items-center">
                <img src="../static/media/undraw_login_re_4vu2.svg" alt="صورة" style="height: 10rem; width: auto;">
            </div>
        </div>
        <div class="row bg-dark p-md-4 p-3">
            <h1 class="display-4 style-text-3 text-light">إنشاء حساب جديد</h1>
        </div>
        <form action="{% url 'shop:signup_user' %}" method="post" class="style-text-3" id="myForm">
            {% csrf_token %}
            <div class="row p-2 py-4 p-md-4">
                <div class="col-md-6 px-md-3">
                    <div class="row mb-2 bg-dark text-light p-3 shadow">
                        <h3 class="style-heading">الاسم الكامل الخاص بك</h3>
                        <p class="style-text text-light">هذا هو الاسم الذي سيظهر للبائعين ومشتريك المحتملين</p>
                        <div class="col-md-6">
                            <label for="first" class="form-label">الاسم الأول</label>
                            <input type="text" class="form-control" name="first" id="web_first" placeholder="محمد">
                        </div>
                        <div class="col-md-6">
                            <label for="second" class="form-label">الاسم الثاني</label>
                            <input type="text" class="form-control" name="second" id="web_second" placeholder="عبد ال">
                        </div>
                    </div>
                    <div class="row mb-2 bg-dark text-light p-3 shadow">
                        <h3 class="style-heading">اسم المستخدم والبريد الإلكتروني الخاص بك</h3>
                        <p class="style-text text-light">قم بإعطاء نفسك اسم مستخدم فريد وعنوان بريد إلكتروني صالح. ستحتاج إلى ذلك لتسجيل الدخول في أي وقت، حاول ألا تنساه. سيتم إرسال جميع تحديثات حالتك على بريدك الإلكتروني، تأكد من أنه صالح ويعمل.</p>
                        <div class="col-md-6">
                            <label for="username" class="form-label">اسم المستخدم</label>
                            <input type="text" class="form-control" name="username" id="userInput" aria-describedby="checkUsernameAvailability" oninput="delayFunction()" placeholder="على سبيل المثال، جوجو">
                        </div>
                        <div class="col-md-6">
                            <label for="email" class="form-label">عنوان البريد الإلكتروني</label>
                            <input type="email" class="form-control" name="email" id="web_email" placeholder="على سبيل المثال، my_email@gmail.com">
                        </div>
                        <div id="checkUsernameAvailability" class="form-text lead"><p class="style-text-3 text-light">تحقق من توافر اسم المستخدم</p></div>
                    </div>
                    <div class="row mb-2 bg-dark text-light p-3 shadow">
                        <h3 class="style-heading">إنشاء كلمة مرور جديدة</h3>
                        <p class="style-text text-light">قم بإنشاء كلمة مرور جديدة لحسابك. يرجى التأكد من تذكرها.</p>
                        <div class="col-md-6">
                            <label for="exampleInputPassword1" class="form-label">كلمة المرور</label>
                            <input type="text" name="password" class="form-control" placeholder="أحب الكعكات">
                        </div>
                        <div class="col-md-6">
                            <label for="exampleInputPassword2" class="form-label">تأكيد كلمة المرور</label>
                            <input type="password" name="password2" class="form-control" placeholder="أحب الكعكات">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 px-md-3">
                    <div class="row mb-2 bg-dark text-light p-3 shadow">
                        <h3 class="style-heading">الرجاء إدخال رقم هاتفك في واتساب</h3>
                        <p class="style-text text-light">سيتم استخدامه من قبل المشترين والبائعين المحتملين للاتصال بك. تأك

د من عدم نسيان الرمز '+' أثناء كتابة رقم هاتفك في واتساب.</p>
                        <div class="col-md-12">
                            <label for="whatsapp" class="form-label">رقم واتساب</label>
                            <input type="text" class="form-control" name="whatsapp" id="web_whatsapp"
                                placeholder="على سبيل المثال، +966509338765">
                        </div>
                    </div>
                    <div class="row mb-2 bg-dark text-light p-3 shadow">
                        <h3 class="style-heading">عنوان السكن الطلابي</h3>
                        <p class="style-text text-light">الرجاء إدخال عنوانك، سيتم استخدامه من قبل البائعين لتوصيل المنتجات إليك. تأكد من أنه صحيح.</p>
                        <div class="col-md-6">
                            <input type="text" class="form-control" name="room_no" id="address"
                                placeholder="أدخل رقم غرفتك" aria-describedby="address_help">
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <select class="form-control" id="building_code" name="building_code">
                                    <option value="0">اختر مبناك</option>
                                    <option value="br1">BR1</option>
                                    <option value="br2">BR2</option>
                                    <option value="br3">BR3</option>
                                    <option value="br4">BR4</option>
                                    <option value="br5">BR5</option>
                                    <option value="br6">BR6</option>
                                    <option value="br7">BR7</option>
                                    <option value="br8">BR8</option>
                                    <option value="br9">BR9</option>
                                    <option value="br10">BR10</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2 bg-dark text-light p-3 shadow">
                        <div>
                            <button type="submit" class="btn btn-light my-2">تسجيل</button>
                            <a href="{% url 'shop:login_user' %}" type="submit" class="btn text-light btn-outline-dark">لديك بالفعل حساب؟</a>
                            <hr>
                            <p>بالنقر فوق تسجيل، فإنك توافق على قبول <a href="{% url 'shop:terms_conditions' %}" class="text-light">الشروط والأحكام</a> لدينا</p>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>

<script>
    let timeoutId;
    let functionCalled = false;

    function delayFunction() {
        clearTimeout(timeoutId);
        timeoutId = setTimeout(() => {
            if (!functionCalled) {
                checkUsername();
                functionCalled = true;
            }
        }, 2000);
        functionCalled = false;
    }

    function checkUsername() {

        var messageBox = document.getElementById('checkUsernameAvailability');
        var csrfToken = document.getElementsByName('csrfmiddlewaretoken')[0].value;
        var userInput = document.getElementById('userInput');
        var userInputValue = userInput.value;

        if (userInputValue == "") {
            html_data = `<p class="style-text-3 text-danger">لا يمكن أن يكون اسم المستخدم فارغًا</p>`
            messageBox.innerHTML = html_data;
        } else {
            fetch(`/username_availability/${userInputValue}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                    'X-CSRFToken': csrfToken,
                },
                body: 'user_input=' + encodeURIComponent(userInputValue),
            })
                .then(response => response.json())
                .then(data => {
                    var html_data;
                    console.log(data.response)
                    if (data.response == "available") {
                        html_data = `<p class="style-text-3 text-success">اسم المستخدم متاح</p>`
                        messageBox.innerHTML = html_data;
                    }
                    else if (data.response == "not available") {
                        html_data = `<p class="style-text-3 text-danger">اسم المستخدم مأخوذ بالفعل</p>`
                        messageBox.innerHTML = html_data;
                    }
                });
        }
    }

    // Function to save form data to localStorage
    function saveFormData() {
        const formData = {
            first: document.getElementById('first').value,
            second: document.getElementById('second').value,
            whatsapp: document.getElementById('whatsapp').value,
            username: document.getElementById('userInput').value,
            email: document.getElementById('email').value,
            address: document.getElementById('address').value
        };

        localStorage.setItem('formData', JSON.stringify(formData));
    }

    // Function to load form data from localStorage
    function loadFormData() {
        const savedData = localStorage.getItem('formData');
        if (savedData) {
            const formData = JSON.parse(savedData);
            document.getElementById('first').value = formData.first;
            document.getElementById('second').value = formData.second;
            document.getElementById('whatsapp').value = formData.whatsapp;
            document.getElementById('userInput').value = formData.username;
            document.getElementById('email').value = formData.email;
            document.getElementById('address').value = formData.address;
        }
    }

    // Listen for changes in the form fields and save data to localStorage
    document.getElementById('myForm').addEventListener('change', saveFormData);

    // Load form data from localStorage when the page loads
    window.addEventListener('load', loadFormData);
</script>
{% endblock %}
